---
import PageTitle from "@/components/layout/PageTitle.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import * as aboutContent from "./about.md";
import { Content } from "./about.md";
import Button from "@/components/ui/Button.astro";
import { formatDate } from "@/scripts/utilities";
import { SOCIAL_LINK } from "@/scripts/constants";

const { title, date } = aboutContent.frontmatter;
const { gumroad, sketchfab, youtube, bluesky } = SOCIAL_LINK;
---

<SiteLayout pageTitle={title} color="purple" pattern="5">
	<PageTitle heading={title} />
	<div class="flex gap-16">
		<div class="flex flex-col gap-8 w-full">
			<div class="card-lg max-w-[75ch]">
				<p>
					My name is Rolly (rhymes with "jolly") and I make roller coasters out of
					polygons. I also build tools that make coaster manufacturer specific tracks,
					supports, etc. that help me create realistic coaster models.
				</p>
				<span>Social links:</span>
				<div class="flex gap-2">
					<Button
						label={gumroad.title}
						icon={gumroad.icon}
						href={gumroad.href}
						responsive
					/>
					<Button
						label={sketchfab.title}
						icon={sketchfab.icon}
						href={sketchfab.href}
						responsive
					/>
					<Button
						label={youtube.title}
						icon={youtube.icon}
						href={youtube.href}
						responsive
					/>
					<Button
						label={bluesky.title}
						icon={bluesky.icon}
						href={bluesky.href}
						responsive
					/>
				</div>
			</div>
			<small>Last update: {formatDate(date)}</small>
			<article class="content flex flex-col gap-8">
				<Content />
			</article>
		</div>
	</div>
</SiteLayout>
