---
import PageTitle from "@/components/layout/PageTitle.astro";
import Pagination from "@/components/Pagination.astro";

import SiteLayout from "@/layouts/SiteLayout.astro";

import { ALL_TOOLS } from "@/content/config";
import type { Page } from "astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import FeaturedContent from "@/components/FeaturedContent.astro";
import AssetCard from "@/components/AssetCard.astro";
import { findContent } from "@/scripts/utilities";

interface Props {
	page: Page<any>;
}

export async function getStaticPaths({ paginate }: any): Promise<any> {
	return paginate(ALL_TOOLS, {
		pageSize: 9,
	});
}

const { page } = Astro.props;
const isCurrentPage = page.url.current === "/tools";
---

<SiteLayout pageTitle="Tools" color="yellow" pattern="3">
	<PageTitle heading="Tools" />
	{page.url.current === "/tools" && (
		<section class="layout-sm">
			<SectionTitle
				heading="Most Downloaded Tool"
				badgeLabel="FEATURED"
				badgeStyle="alt"
			/>
			<FeaturedContent content={findContent(ALL_TOOLS, "bm-track-generator")} />
		</section>
	)}
	<section class="layout-sm">
		<SectionTitle
			heading={
				isCurrentPage
					? "All Tools"
					: `Page ${page.currentPage} of ${page.lastPage}`
			}
		/>
		<div class="grid-md-3">
			{page.data.map((content) => <AssetCard {content} />)}
		</div>
	</section>
	<Pagination {page} content={ALL_TOOLS} />
</SiteLayout>
