---
import ContentCard from "@/components/ContentCard.astro";
import { ALL_POSTS, ALL_TOOLS, type Collection } from "@/content/config";
import ContentPageLayout from "@/layouts/ContentPageLayout.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";

export async function getStaticPaths() {
	return ALL_TOOLS.map((tool, index) => ({
		params: {
			slug: tool.slug,
		},
		props: { tool, index },
	}));
}

const { tool, index } = Astro.props;
const { Content } = await tool.render();
const toolUpdates: Array<Collection> = ALL_POSTS.filter((content) =>
	content.data.tags.includes(tool.slug),
);

function setToolIndex(): number {
	if (index + 1 >= ALL_TOOLS.length) {
		return 0;
	}

	return index + 1;
}
---

<SiteLayout pageTitle={tool.data.title} color="yellow" pattern="3">
	<ContentPageLayout content={tool} contentCollection={ALL_TOOLS} {index}>
		<Content />
	</ContentPageLayout>
	{
		toolUpdates.length > 0 && (
			<section class="layout-md">
				<h2>Build updates</h2>
				{toolUpdates.map((content) => (
					<ContentCard {content} />
				))}
			</section>
		)
	}
	<div class="flex flex-col gap-8">
		<h2>Next tool</h2>
		<ContentCard content={ALL_TOOLS[setToolIndex()]} />
	</div>
</SiteLayout>
