---
import ArticleCard from "@/components/ArticleCard.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import { ALL_POSTS, ALL_TOOLS, type Collection } from "@/content/config";
import ContentPageLayout from "@/layouts/ContentPageLayout.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";

export async function getStaticPaths() {
	return ALL_TOOLS.map((tool, index) => ({
		params: {
			slug: tool.slug,
		},
		props: { tool, index },
	}));
}

const { tool, index } = Astro.props;
const { Content } = await tool.render();
const toolUpdates: Array<Collection> = ALL_POSTS.filter((content) =>
	content.data.tags.includes(tool.slug),
);

function setToolIndex(): number {
	if (index >= ALL_TOOLS.length) {
		return 0;
	}

	if (index - 1 < 0) {
		return ALL_TOOLS.length - 1;
	}

	return index - 1;
}
---

<SiteLayout pageTitle={tool.data.title}>
	<ContentPageLayout content={tool} contentCollection={ALL_TOOLS} {index}>
		<Content />
	</ContentPageLayout>
	{
		toolUpdates.length > 0 && (
			<section class="column-md">
				<h2>Build updates</h2>
				{toolUpdates.map((content) => (
					<ArticleCard {content} />
				))}
			</section>
		)
	}
	<div class="column-md">
		<SectionTitle
			heading="Next Tool"
			badgeLabel="FEATURED"
			badgeStyle="alt"
		/>
		<ArticleCard content={ALL_TOOLS[setToolIndex()]} />
	</div>
</SiteLayout>
