---
import SideBar from "@/components/SideBar.astro";
import TagList from "@/components/TagList.astro";
import Image from "@/components/ui/Image.astro";
import Link from "@/components/ui/Link.astro";
import { ALL_ARTICLES } from "@/content/config";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { formatDate, calcReadTime } from "@/scripts/utilities";

export async function getStaticPaths() {
	return ALL_ARTICLES.map((article) => ({
		params: {
			slug: article.slug,
		},
		props: { article },
	}));
}

const { article } = Astro.props;
const { title, description, postDate, tags } = article.data;
const { Content, headings } = await article.render();
---

<SiteLayout pageTitle={title}>
	<section class="wrapper flex gap-16 py-16 w-lg">
		<div class="flex flex-col gap-8 w-full">
			<Link label="Back to articles" href="/articles" iconLeft="arrow-left" underline />
			<div class="flex flex-col gap-4">
				<h1 class="heading-lg">{title}</h1>
				<TagList {tags} />
				<p>{description}</p>
				<span>{calcReadTime(article.body)} min read &bullet; {formatDate(postDate)}</span>
			</div>
			<Image placeholder />
			<article class="content flex flex-col gap-8 scroll-mt-[92px]">
				<Content />
			</article>
		</div>
		<SideBar {headings} {article} />
	</section>
</SiteLayout>
