---
import ContentCard from "@/components/ContentCard.astro";
import ModelCard from "@/components/ModelCard.astro";
import { ALL_MODELS, ALL_POSTS, type Collection } from "@/content/config";
import ContentPageLayout from "@/layouts/ContentPageLayout.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { titleCase } from "@/scripts/utilities";

export async function getStaticPaths() {
	return ALL_MODELS.map((model, index) => ({
		params: {
			slug: model.slug,
		},
		props: { model, index },
	}));
}

const { model, index } = Astro.props;
const { Content } = await model.render();
const modelUpdates: Array<Collection> = ALL_POSTS.filter((content) =>
	content.data.tags.includes(titleCase(model.slug)),
);

function setModelIndex(): number {
	if (index >= ALL_MODELS.length) {
		return 0;
	}

	if (index - 1 < 0) {
		return ALL_MODELS.length - 1;
	}

	return index - 1;
}
---

<SiteLayout pageTitle={model.data.title} color="green" pattern="3">
	<ContentPageLayout content={model} contentCollection={ALL_MODELS} {index}>
		<Content />
	</ContentPageLayout>
	{
		modelUpdates.length > 0 && (
			<section class="layout-md">
				<h2>Build updates</h2>
				{modelUpdates.map((content) => (
					<ContentCard {content} />
				))}
			</section>
		)
	}
	<section class="layout-md">
		<h2>Next model</h2>
		<ModelCard model={ALL_MODELS[setModelIndex()]} />
	</section>
</SiteLayout>
