---
import ModelCard from "@/components/ModelCard.astro";
import { ALL_MODELS } from "@/content/config";
import ContentPageLayout from "@/layouts/ContentPageLayout.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";

export async function getStaticPaths() {
	return ALL_MODELS.map((model, index) => ({
		params: {
			slug: model.slug,
		},
		props: { model, index },
	}));
}

const { model, index } = Astro.props;
const { Content } = await model.render();

function setModelIndex(): number {
	if (index + 1 >= ALL_MODELS.length) {
		return 0;
	}

	return index + 1;
}
---

<SiteLayout pageTitle={model.data.title} color="green" pattern="3">
	<ContentPageLayout content={model} contentCollection={ALL_MODELS} {index}>
		<Content />
	</ContentPageLayout>
	<div class="flex flex-col gap-8">
		<h2>Next model</h2>
		<ModelCard model={ALL_MODELS[setModelIndex()]} />
	</div>
</SiteLayout>
