---
import ArticleCard from "@/components/ArticleCard.astro";
import AssetCard from "@/components/AssetCard.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import { ALL_MODELS, ALL_POSTS, type Collection } from "@/content/config";
import ContentPageLayout from "@/layouts/ContentPageLayout.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { titleCase } from "@/scripts/utilities";

export async function getStaticPaths() {
	return ALL_MODELS.map((model, index) => ({
		params: {
			slug: model.slug,
		},
		props: { model, index },
	}));
}

const { model, index } = Astro.props;
const { Content } = await model.render();
const modelUpdates: Array<Collection> = ALL_POSTS.filter((content) =>
	content.data.tags.includes(titleCase(model.slug)),
);

function setModelIndex(): number {
	if (index >= ALL_MODELS.length) {
		return 0;
	}

	if (index - 1 < 0) {
		return ALL_MODELS.length - 1;
	}

	return index - 1;
}
---

<SiteLayout pageTitle={model.data.title}>
	<ContentPageLayout content={model} contentCollection={ALL_MODELS} {index}>
		<Content />
	</ContentPageLayout>
	{
		modelUpdates.length > 0 && (
			<section class="column-md">
				<SectionTitle heading="Build Updates" badgeLabel="DEV LOGS" badgeStyle="alt" />
				{modelUpdates.map((content) => (
					<ArticleCard {content} />
				))}
			</section>
		)
	}
	<section class="column-md">
		<SectionTitle heading="Next Model" badgeLabel="FEATURED" badgeStyle="alt" />
		<AssetCard content={ALL_MODELS[setModelIndex()]} />
	</section>
</SiteLayout>
