---
import ArticleCard from "@/components/ArticleCard.astro";
import FeaturedContent from "@/components/FeaturedContent.astro";
import PageTitle from "@/components/layout/PageTitle.astro";
import Pagination from "@/components/Pagination.astro";

import SiteLayout from "@/layouts/SiteLayout.astro";

import { ALL_POSTS } from "@/content/config";
import { FEATURED_POSTS } from "@/scripts/constants";
import type { Page } from "astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";

interface Props {
	page: Page<any>;
}

export async function getStaticPaths({ paginate }: any): Promise<any> {
	return paginate(ALL_POSTS, {
		pageSize: 10,
	});
}

const { page } = Astro.props;
const isCurrentPage = page.url.current === "/posts";
---

<SiteLayout pageTitle="Posts">
	<PageTitle heading="Posts" />
	{page.url.current === "/posts" && (
		<section class="layout-sm">
			<SectionTitle
					heading="Latest Post"
					badgeLabel="FEATURED"
					badgeStyle="alt"
				/>
			<FeaturedContent content={FEATURED_POSTS[0]} />
		</section>
	)}
	<section class="layout-sm">
		<SectionTitle
			heading={
				isCurrentPage
					? "All Models"
					: `Page ${page.currentPage} of ${page.lastPage}`
			}
		/>
		<div class="layout-md w-full">
			{page.data.map((content) => <ArticleCard {content} />)}
		</div>
	</section>
	<Pagination {page} content={ALL_POSTS} />
</SiteLayout>
