---
import ArticleCard from "@/components/ArticleCard.astro";
import AssetCard from "@/components/AssetCard.astro";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import { ALL_MODELS, ALL_POSTS } from "@/content/config";
import ContentPageLayout from "@/layouts/ContentPageLayout.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { findContent } from "@/scripts/utilities";

export async function getStaticPaths() {
	return ALL_POSTS.map((post, index) => ({
		params: {
			slug: post.slug,
		},
		props: { post, index },
	}));
}

const { post, index } = Astro.props;
const { Content } = await post.render();
const model = findContent(ALL_MODELS, getModeSlug());

function setPostIndex(): number {
	if (index >= ALL_POSTS.length) {
		return 0;
	}

	if (index - 1 < 0) {
		return ALL_POSTS.length - 1;
	}

	return index - 1;
}

function getModeSlug(): string  {
	return post.slug.split("-").slice(0, -1).join("-");
}
---

<SiteLayout pageTitle={post.data.title} color="neutral" pattern="3">
	<ContentPageLayout content={post} contentCollection={ALL_POSTS} {index}>
		<Content />
	</ContentPageLayout>
	{
		model.slug === getModeSlug() && (
			<div class="layout-md">
				<SectionTitle
					heading="View Model"
					badgeLabel="RELATED"
					badgeStyle="alt"
				/>
				<AssetCard content={findContent(ALL_MODELS, model.slug)} />
			</div>
		)
	}
	<div class="layout-md">
		<SectionTitle
			heading="Next Post"
			badgeLabel="FEATURED"
			badgeStyle="alt"
		/>
		{
			post.data.next ? (
				<ArticleCard content={findContent(ALL_POSTS, post.data.next)} />
			) : (
				<ArticleCard content={ALL_POSTS[setPostIndex()]} />
			)
		}
	</div>
</SiteLayout>
