---
import ContentCard from "@/components/ContentCard.astro";
import ModelCard from "@/components/ModelCard.astro";
import { ALL_MODELS, ALL_POSTS } from "@/content/config";
import ContentPageLayout from "@/layouts/ContentPageLayout.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { findContent, slugify } from "@/scripts/utilities";

export async function getStaticPaths() {
	return ALL_POSTS.map((post, index) => ({
		params: {
			slug: post.slug,
		},
		props: { post, index },
	}));
}

const { post, index } = Astro.props;
const { Content } = await post.render();
const model = ALL_MODELS.find((model) => model.slug === post.slug.split("-")[0]);

function setPostIndex(): number {
	if (index >= ALL_POSTS.length) {
		return 0;
	}

	if (index - 1 < 0) {
		return ALL_POSTS.length - 1;
	}

	return index - 1;
}
---

<SiteLayout pageTitle={post.data.title} color="neutral" pattern="3">
	<ContentPageLayout content={post} contentCollection={ALL_POSTS} {index}>
		<Content />
	</ContentPageLayout>
	{
		model && (
			<div class="layout-md">
				<h2>View model</h2>
				<ModelCard {model} />
			</div>
		)
	}
	<div class="layout-md">
		<h2>Next post</h2>
		{
			post.data.next ? (
				<ContentCard content={findContent(ALL_POSTS, post.data.next)} />
			) : (
				<ContentCard content={ALL_POSTS[setPostIndex()]} />
			)
		}
	</div>
</SiteLayout>
