---
import ImageWrapper from "@/ui/ImageWrapper.astro";
import InfoBanner from "@/ui/InfoBanner.astro";
import SocialLink from "@/components/SocialLink.astro";
import Button from "../ui/Button.astro";
import { SOCIAL_LINKS, type HTML } from "@/scripts/constants";

interface Props extends HTML {
	photo?: boolean;
}

const { photo, class: className } = Astro.props;
---

{
	photo ? (
		<div
			class:list={["relative flex flex-col w-[320px] h-[320px]", className]}
			style={{ "--radius": "32px" }}
		>
			<ImageWrapper size="md" shape="round" aspect="1/1" src="/about/about.png" />
			<div class="absolute top-2 -rotate-4">
				<InfoBanner />
			</div>
			<p class="absolute card-sm bottom-2 rotate-2">
				I'm Rolly (or Jay), and I make roller coasters out of polygons!
			</p>
			<SocialLink
				icon={SOCIAL_LINKS.gumroad.icon}
				href={SOCIAL_LINKS.gumroad.href}
				rotation="105"
			/>
			<SocialLink
				icon={SOCIAL_LINKS.sketchfab.icon}
				href={SOCIAL_LINKS.sketchfab.href}
				rotation="125"
			/>
			<SocialLink
				title={SOCIAL_LINKS.youtube.title}
				icon={SOCIAL_LINKS.youtube.icon}
				href={SOCIAL_LINKS.youtube.href}
				rotation="145"
			/>
			<SocialLink
				icon={SOCIAL_LINKS.bluesky.icon}
				href={SOCIAL_LINKS.bluesky.href}
				rotation="165"
			/>
		</div>
	) : (
		<div
			class:list={["relative flex flex-col gap-4 w-[320px] h-[320px]", className]}
			style={{ "--radius": "32px" }}
		>
			<InfoBanner />
			<p class="card-sm">I'm Rolly (or Jay), and I make roller coasters out of polygons!</p>
			<div class="flex flex-row justify-between card-sm">
				<Button icon={SOCIAL_LINKS.gumroad.icon} href={SOCIAL_LINKS.gumroad.href} />
				<Button icon={SOCIAL_LINKS.sketchfab.icon} href={SOCIAL_LINKS.sketchfab.href} />
				<Button icon={SOCIAL_LINKS.youtube.icon} href={SOCIAL_LINKS.youtube.href} />
				<Button icon={SOCIAL_LINKS.bluesky.icon} href={SOCIAL_LINKS.bluesky.href} />
				<Button icon={SOCIAL_LINKS.email.icon} href={SOCIAL_LINKS.email.href} />
			</div>
		</div>
	)
}
