---
import { ALL_MODELS, ALL_POSTS, ALL_TOOLS } from "@/content/config";
import Link from "@/ui/Link.astro";
import Button from "@/ui/Button.astro";
import SiteTitle from "@/components/SiteTitle.astro";
---

<footer class="footer">
	<div class="wrapper footer-header">
		<SiteTitle />
		<ul>
			<li>
				<Button icon="gumroad" href="https://rollygon.gumroad.com/" iconOnly />
				<Button icon="sketchfab" href="https://sketchfab.com/Rollygon" iconOnly />
				<Button icon="youtube" href="https://youtube.com/@Rollygon" iconOnly />
				<Button icon="bluesky" href="https://bsky.app/profile/rollygon.com" iconOnly />
				<Button icon="send" href="mailto:message@rollgy.com" iconOnly />
			</li>
		</ul>
	</div>
	<div class="footer-links wrapper">
		<ul>
			<li><small>Navigation</small></li>
			<li><Link label="Home" href="/" underline /></li>
			<li><Link label="Models" href="/models" underline /></li>
			<li><Link label="Tools" href="/tools" underline /></li>
			<li><Link label="Posts" href="/posts" underline /></li>
			<li><Link label="About" href="/about" underline /></li>
		</ul>
		<ul>
			<li><small>Models</small></li>
			{ALL_MODELS.map(model => (
				<li>
					<Link
						label={model.data.title}
						href={`/models/${model.slug}`}
						underline
					/>
					{model === ALL_MODELS[0] && <span class="new">&#x1F7CC;</span>}
				</li>
			))}
		</ul>
		<ul>
			<li><small>Tools</small></li>
			{ALL_TOOLS.map(tool => (
				<li>
					<Link
						label={tool.data.title}
						href={`/tools/${tool.slug}`}
						underline
					/>
					{tool === ALL_TOOLS[0] && <span class="new">&#x1F7CC;</span>}
				</li>
			))}
		</ul>
		<ul>
			<li><small>Posts</small></li>
			{ALL_POSTS.slice(0,10).map(post => (
				<li>
					<Link
						label={post.data.title}
						href={`/posts/${post.slug}`}
						underline
					/>
					{post === ALL_POSTS[0] && <span class="new">&#x1F7CC;</span>}
				</li>
			))}
		</ul>
	</div>
	<div class="copyright center">
		<small>Copyright &copy;<span id="footer-date"></span> Rollygon, All rights reserved.</small>
	</div>
</footer>

<script>
	const footerDate = document.querySelector("#footer-date");

	if (footerDate) {
		footerDate.innerHTML = new Date().getFullYear().toString();
	}
</script>

<style>
	.footer { 
		border-top: var(--border);
		background: var(--bg-light);

		ul {
			display: flex;
			flex-direction: column;
			gap: var(--space-2);

			li {
				display: flex;
				gap: var(--space-2);

				max-width: 32ch;
				text-overflow: ellipsis;
			}

			& > li > small {
				width: fit-content;
				padding-block: var(--space-2);
				margin-bottom: var(--space-2);
				border-bottom: var(--border);

				text-transform: uppercase;
			}
		}
	}

	.footer-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-block: var(--space-16);
		border-bottom: var(--border);
	}

	.footer-links {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-8);

		padding-block: var(--space-16);
	}

	.new {
		color: var(--green-50);
	}

	.copyright {
		padding-block: var(--space-8);
		background: var(--neutral-10);

		small, span {
			color: var(--neutral-90);
		}
	}
</style>
