---
import { SITE_HEADING } from "@/scripts/constants";
import { ALL_MODELS, LATEST_POSTS, LATEST_TOOLS } from "@/content/config";

import AboutSection from "@/components/layout/AboutSection.astro";
import BlogPostCard from "@/components/BlogPostCard.astro";
import Button from "@/components/ui/Button.astro";
import Link from "@/ui/Link.astro";
import SearchBar from "@/components/SearchBar.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import ModelCard from "@/components/ModelCard.astro";
import ToolCard from "@/components/ToolCard.astro";

const searchLinks = [
	{ label: "Coasters", href: "/tags/coaster" },
	{ label: "Guides", href: "/tags/guide" },
	{ label: "Updates", href: "/tags/update" },
	{ label: "Articles", href: "/tags/article" },
];
---

<SiteLayout pageTitle="Home" color="blue" pattern="5">
	<div class="flex flex-col gap-16">
		<h1>{SITE_HEADING}</h1>
		<SearchBar {searchLinks} />
	</div>
	<section class="flex flex-col gap-8">
		<h2 data-shadow>Newest model</h2>
		<ModelCard model={ALL_MODELS[0]} featured />
		<Link label="View all models" href="/models" underline />
	</section>
	<section id="tools" class="flex flex-col gap-4">
		<h2 data-shadow class="heading-md">Newst tools</h2>
		<div class="flex gap-8 w-full">
			{LATEST_TOOLS.map((tool) => <ToolCard {tool} />)}
		</div>
		<Link data-shadow label="View all tools" href="/tools" underline />
	</section>
	<section>
		<div class="flex gap-16">
			<div class="flex flex-col gap-4">
				<h2 data-shadow>About me</h2>
				<div class="card-lg">
					<p>
						My name is Jay&mdash;but, you can call me Rolly (rhymes with
						"jolly")&mdash;and I make roller coasters out of polygons. I also build
						tools that make coaster manufacturer specific tracks, supports, etc. that
						help me create realistic coaster models.
					</p>
					<div class="flex gap-2">
						<Button label="Get to know me" href="/about" />
						<Button
							label="Send a message"
							href="mailto:message@rollygon.com"
							icon="email"
						/>
					</div>
				</div>
			</div>
			<AboutSection />
		</div>
	</section>
	<section id="posts" class="flex flex-col gap-8">
		<h2 data-shadow class="heading-md">Newest guides & updates</h2>
		<div class="grid grid-cols-2 gap-8 w-full">
			{LATEST_POSTS.map((post) => <BlogPostCard {post} />)}
		</div>
		<Link data-shadow label="View all posts" href="/blog" underline />
	</section>
</SiteLayout>
