---
import ArticleCard from "@/components/ArticleCard.astro";
import ModelCard from "@/components/ModelCard.astro";
import ToolCard from "@/components/ToolCard.astro";
import Link from "@/ui/Link.astro";
import { ALL_MODELS, LATEST_ARTICLES, LATEST_TOOLS } from "@/content/config";
import SiteLayout from "@/layouts/SiteLayout.astro";
import PageTitle from "@/components/layout/PageTitle.astro";
import { SITE_HEADING, SITE_SUB_HEADING } from "@/scripts/constants";
---

<SiteLayout pageTitle="Home">
	<PageTitle heading={SITE_HEADING} subHeading={SITE_SUB_HEADING} />
	<section class="wrapper flex flex-col gap-8 py-16">
		<div class="flex items-baseline gap-4">
			<h2>Newest models</h2>
			<Link label="View all models" href="/models" underline />
		</div>
		<ModelCard model={ALL_MODELS[0]} featured />
	</section>
	<section id="tools" class="wrapper flex flex-col gap-4 py-16">
		<div class="flex items-baseline gap-4">
			<h2 class="heading-md">Newst tools</h2>
			<Link label="View all tools" href="/tools" underline />
		</div>
		<div class="flex gap-8 w-full">
			{LATEST_TOOLS.map((tool) => <ToolCard {tool} />)}
		</div>
	</section>
	<section id="articles" class="wrapper flex flex-col gap-8 py-16 w-2/3">
		<div class="flex items-baseline gap-4">
			<h2 class="heading-md">Newest articles & updates</h2>
			<Link label="View all articles" href="/articles" underline />
		</div>
		<div class="flex flex-col gap-8 w-full">
			{LATEST_ARTICLES.map((article) => <ArticleCard {article} />)}
		</div>
	</section>
</SiteLayout>
