---
import ImageWrpper from "@/ui/ImageWrapper.astro";
import Link from "@/ui/Link.astro";
import TagList from "@/components/TagList.astro";
import { calcReadTime, formatDate } from "@/scripts/utilities.ts";
import type { CollectionEntry } from "astro:content";
import Button from "@/ui/Button.astro";

interface Props {
	article: CollectionEntry<"articles">;
	featured?: boolean;
}

const { article, featured } = Astro.props;
const { title, description, tags, postDate, image } = article.data;

function toggle(image: string): string {
	if (image) {
		return "64px";
	}

	return "12px";
}
---

{
	featured ? (
		<div class="flex gap-16 w-full">
			<ImageWrpper size="50%" />
			<div class="flex flex-col gap-4 w-full">
				<span class="heading-xs">Featured</span>
				<h3 class="heading-sm flex items-center gap-2">{title}</h3>
				<TagList {tags} />
				<p class="line-clamp-2">{description}</p>
				<Button label="Read full article" href={"/articles/" + article.slug} />
				<small>
					<strong>
						{calcReadTime(article.body)} min read &bullet; {formatDate(postDate)}
					</strong>
				</small>
			</div>
		</div>
	) : (
		<div
			class="relative grid-1 flex gap-8 w-full"
			style={{
				"--img-border-radius": toggle(image),
			}}
		>
			<div class="flex flex-col gap-4 border-lg shadow-lg rounded-br-[var(--img-border-radius)] p-8 bg-white">
				<h3 class="heading-sm flex items-center gap-2">
					<Link label={title} href={"/articles/" + article.slug} underline />
				</h3>
				<TagList {tags} />
				<p class="line-clamp-2">{description}</p>
				<Button label="Read full post" href={"articles/" + article.slug} />
				<small class="flex gap-1.5">
					<strong>{calcReadTime(article.body)} min read</strong>
					&bullet;
					<strong>{formatDate(postDate)}</strong>
				</small>
			</div>
			{image && (
				<div class="absolute -bottom-3 -right-3">
					<ImageWrpper size="128px" shape="round" aspect="1/1" src={image} />
				</div>
			)}
		</div>
	)
}
