---
import Badge from "@/ui/Badge.astro";
import CardStats from "@/ui/CardStats.astro";
import ArticleCardImage from "@/components/ArticleCardImage.astro";
import { setSlug } from "@/scripts/utilities";
import { type Collection } from "@/content/config";

interface Props {
	content: Collection;
}

const { content } = Astro.props;
const { title, description } = content.data;
const { collection } = content;
---

<article class="card card-hover row-md">
    <section class="column-md">
        {collection === "models" && (
            <span class="row-sm" data-info="desktop">
                <Badge label={`${content.data.modelStats[0]} Vertices`} icon="circle" />
                <Badge label={`${content.data.modelStats[1]} Triangles`} icon="triangle" />
                <Badge label={`${content.data.modelStats[2]} Quads`} icon="square" />
            </span>
            <span class="row-sm" data-info="mobile">
                <Badge label={content.data.modelStats[0]} icon="circle" />
                <Badge label={content.data.modelStats[1]} icon="triangle" />
                <Badge label={content.data.modelStats[2]} icon="square" />
            </span>
        )}
        <div class="column-xs">
            <a href={setSlug(content)}><h3>{title}</h3></a>
            <p>{description}</p>
        </div>
        <CardStats {content} />
    </section>
    {collection === "posts" && content.data.image && (
        <ArticleCardImage {content} />
    )}
</article>

<style>
    .card {
        position: relative;

        h3 {
            text-decoration: underline;
        }

        h3, p {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    section {
        max-width: 420px;
    }

    [data-info="mobile"] {
        display: none !important;
    }

    @media only screen and (max-width: 520px) {
        [data-info="desktop"] {
            display: none !important;
        }

        [data-info="mobile"] {
            display: inherit !important;
        }
    }
</style>