---
import Image from "@/ui/Image.astro";
import Link from "@/ui/Link.astro";
import TagList from "@/components/TagList.astro";
import { calcReadTime, formatDate, slugify } from "@/scripts/utilities.ts";
import type { CollectionEntry } from "astro:content";
import Button from "@/ui/Button.astro";
import { ALL_ARTICLES } from "@/content/config";

interface Props {
	article: CollectionEntry<"articles">;
	featured?: boolean;
}

const { article, featured } = Astro.props;
const { title, description, tags, postDate } = article.data;
const href = "articles/" + slugify(title);
---

{
	featured ? (
		<div class="flex gap-16 w-full">
			<Image size="50%" placeholder />
			<div class="flex flex-col gap-4 w-full">
				<span class="heading-xs">Featured</span>
				<h3 class="heading-sm flex items-center gap-2">{title}</h3>
				<TagList contentArray={ALL_ARTICLES} {tags} />
				<p>{description}</p>
				<Button label="Read full article" {href} icon="arrow-up-right" isFilled />
				<small class="text-dim">
					{calcReadTime(article.body)} min read &bullet; {formatDate(postDate)}
				</small>
			</div>
		</div>
	) : (
		<div class="flex gap-8 w-2/3">
			<Image size="sm" shape="round" aspect="1/1" placeholder />
			<div class="flex flex-col gap-2">
				<h3 class="heading-sm flex items-center gap-2">
					<Link
						label={title}
						iconRight="arrow-up-right"
						size="24"
						href={"articles/" + slugify(title)}
					/>
				</h3>
				<TagList contentArray={ALL_ARTICLES} {tags} />
				<p>{description}</p>
				<small class="text-dim">
					{calcReadTime(article.body)} min read &bullet; {formatDate(postDate)}
				</small>
			</div>
		</div>
	)
}
