---
import type { Collection } from '@/content/config';
import { setImageSrc, setSlug } from '@/scripts/utilities';
import Badge from '@/ui/Badge.astro';
import CardStats from '@/ui/CardStats.astro';

interface Props {
	content: Collection;
}

const { content } = Astro.props;
const { title, description } = content.data;

function setBackgroundColor(color: string | undefined) {
    return color
        ? `--bg-color: ${color}`
        : "--bg-color: black;"
}
---

{content.collection !== "posts" && (
    <article
    style={`
        --asset-card-bg: url(${setImageSrc(content)});
        ${setBackgroundColor(content.data.backgroundColor)}
    `}
    class="asset-card card-hover border"
>
    <section class="asset-card-inner column-md border">
        <div class="bg-image"></div>
        {content.collection === "tools" && <Badge label={content.data.price} style="primary" />}
        <div class="column-xs">
            <a href={setSlug(content)}><h3>{title}</h3></a>
            <p>{description}</p>
        </div>
        <CardStats class="card-stats" {content} color="var(--neutral-95)"/>
    </section>
</article>
)}

<style>
    .asset-card {
        position: relative;
        flex: 1 0 auto;

        min-width: var(--mobile-card-width);
        max-width: 100%;
        min-height: 480px;
        border-radius: var(--radius-lg);
        background: var(--bg-light);
   }

    @media only screen and (max-width: 860px) {
        .asset-card {
            min-height: 298px;
        }
    }

    .asset-card-inner {
        position: absolute;
        justify-content: end;
        overflow: clip;
        inset: 0;

        margin: var(--padding-sm);
        padding: var(--padding-lg);

        border-radius: var(--radius-md);
        background: var(--neutral-30);
        
        p, a, strong, small, span {
            z-index: 2;
        }

        .card-stats * {
            opacity: 0.6;
        }

        p {
            height: auto;
            max-height: calc(1.25rem * 2);
            overflow: hidden;
            text-overflow: ellipsis;

            color: var(--neutral-95);
        }

        h3 {
            color: var(--neutral-95);
        }

        &::before {
            position: absolute;
            inset: 0;
            backdrop-filter: blur(64px);
            background: linear-gradient(rgba(0 0 0 /0), color-mix(in srgb, var(--bg-color), transparent 40%));
            mask: linear-gradient(rgba(0 0 0 / 0) 30%, rgba(0 0 0 / 0.3) 40%, rgba(0 0 0 / 0.6) 50%, rgba(0 0 0 / 1) 70%);

            z-index: 1;
            content: "";
        }
    }

    .bg-image {
        position: absolute;
        inset: 0;
        
        background: var(--asset-card-bg);
        background-position: center;
        background-size: cover;
        content: "";

        opacity: 0.9;
        transform: scale(1);
        transition: var(--content-hover-speed) var(--content-hover-easing);
    }
</style>
