---
import ImageWrpper from "@/ui/ImageWrapper.astro";
import Link from "@/ui/Link.astro";
import TagList from "@/components/TagList.astro";
import { calcReadTime, formatDate } from "@/scripts/utilities.ts";
import type { CollectionEntry } from "astro:content";
import Button from "@/ui/Button.astro";
import { slugify } from "@/scripts/utilities.ts";

interface Props {
	post: CollectionEntry<"posts">;
	featured?: boolean;
}

const { post, featured } = Astro.props;
const { title, description, tags, postDate, image } = post.data;

function toggle(image: string): string {
	if (image) {
		return "64px";
	}

	return "12px";
}
---

{
	featured ? (
		<div class="flex gap-8 w-full">
			<ImageWrpper src={image} />
			<div class="card-lg flex flex-col gap-4 w-[360px]">
				<strong class="heading-xs">Featured</strong>
				<h3 class="heading-sm flex items-center gap-2">
					<Link label={title} href={"/blog/" + slugify(title)} underline />
				</h3>
				<TagList {tags} />
				<p class="line-clamp-4">{description}</p>
				<Button label="Read full post" href={"/blog/" + post.slug} />
				<small>
					<small class="flex gap-1.5">
						<strong>{formatDate(postDate)}</strong>
						&bullet;
						<strong>{calcReadTime(post.body)} min read</strong>
					</small>
				</small>
			</div>
		</div>
	) : (
		<div
			class="relative grid-1 flex gap-8 w-full"
			style={{
				"--img-border-radius": toggle(image),
			}}
		>
			<div class="flex flex-col gap-4 card-lg rounded-br-[var(--img-border-radius)] p-8">
				<h3 class="heading-sm flex items-center gap-2">
					<Link label={title} href={"/blog/" + post.slug} underline />
				</h3>
				<TagList {tags} />
				<p class="line-clamp-2">{description}</p>
				<Button label="Read full post" href={"blog/" + post.slug} />
				<small class="flex gap-1.5">
					<strong>{formatDate(postDate)}</strong>
					&bullet;
					<strong>{calcReadTime(post.body)} min read</strong>
				</small>
			</div>
			{image && (
				<div class="absolute -bottom-3 -right-3">
					<ImageWrpper size="128px" shape="round" aspect="1/1" src={image} />
				</div>
			)}
		</div>
	)
}
