---
import DownloadIcon from './icons/DownloadIcon.astro';

interface Props {
    label: string;
    href: string;
    color?: string;
    icon?: 
        | "download"
        | "visit"
        | "send";
    isFilled?: boolean;
}

const {
    label,
    href,
    icon,
    color = "var(--color-blue-600)",
    isFilled = false
} = Astro.props;

function toggleButtonColor (buttonFill: boolean): string {
    if (!buttonFill) {
        return color;
    }
    return "var(--color-neutral-50)";
}
---

<a 
title={label}
data-fill={isFilled}
class="flex items-center gap-1 px-4 py-2 rounded-lg border-2 border-[var(--color-primary)] text-[var(--color-primary)]"
style=`--color-primary: ${color};`
{href}>
    <span>{label}</span>
    {icon === "download" && (
        <DownloadIcon color={toggleButtonColor(isFilled)}/>
    )}
</a>

<style>
a {
    --color-primary-hover: color-mix(in srgb, var(--color-primary), var(--color-surface-primary) 20%);
}

a[data-fill=false] {
    --color-bg-hover: color-mix(in srgb, var(--color-primary), transparent 95%);

    border-color: var(--color-primary);
    color: var(--color-primary);

    &:hover {
        background-color: var(--color-bg-hover);
    }
}

a[data-fill=true] {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-neutral-50);

    &:hover {
        border-color: var(--color-primary-hover);
        background-color: var(--color-primary-hover);
    }
}
</style>
