---
import Button from "@/ui/Button.astro";
import type { Collection } from "@/content/config";

interface Props {
	content: Collection;
	contentCollection: Array<Collection>;
	index: number;
}



const { content, contentCollection, index } = Astro.props;
const { pathname } = Astro.url;
const { collection } = content;

function setNextHref(): string {
	return index - 1 < 0
		? contentCollection[0].slug
		: contentCollection[index - 1].slug;
}

function setPrevHref(): string {
	const max = contentCollection.length - 1;

	return index + 1 >= max
		? contentCollection[max].slug
		: contentCollection[index + 1].slug;
}

function setDisabled(type: "next" | "prev"): boolean {
	if (pathname === `/${collection}/${setPrevHref()}` && type === "prev") {
		return true;
	}

	if (pathname === `/${collection}/${setNextHref()}` && type === "next") {
		return true;
	}

	return false;
}
---

<div class="pagination border">
	<Button
		label={`All ${collection}`}
		href={`/${collection}`}
		small
	/>
	<ul class="row-md">
		<li>
			<Button
				label="Prev"
				icon="arrow-left"
				href=`/${collection}/${setPrevHref()}`
				disabled={setDisabled("prev")}
				small
			/>
		</li>
		<li>
			 <Button
				label="Next"
				icon="arrow-right"
				href=`/${collection}/${setNextHref()}`
				disabled={setDisabled("next")}
				iconRight
				small
			/>
		</li>
	</ul>
</div>
