---
import Icon, { matchIconNameType } from "@/ui/Icon.astro";
import Button from "@/ui/Button.astro";
import Badge from "./ui/Badge.astro";
import { calcReadTime, formatDate } from "@/scripts/utilities";
import TagList from "./TagList.astro";
import type { Collection } from "@/content/config";

interface Props {
	content: Collection;
}

const { content } = Astro.props;
const { title, tags } = content.data;
const { collection, slug } = content;
---

<div class="relative flex items-center justify-between gap-8 border-lg shadow-lg p-4 bg-white">
    {
        collection === "tools" && (
            <div class="flex justify-between w-full">
                <div class="flex items-center gap-4">
                    <h3 class="flex justify-left truncate w-fit">{title}</h3>
                    <small>{content.data.version}</small>
                    <Badge label={content.data.price} />
                </div>
                <strong>
                    <small class="flex gap-2">
						<strong>{content.data.size}</strong>
						&bullet;
						<strong>{formatDate(content.data.postDate, "short")}</strong>
					</small>
                </strong>
            </div>
        )
    }
    {
        collection === "posts" && (
            <div class="flex items-center justify-between w-full">
                <h3 class="flex justify-left truncate w-fit">{title}</h3>
                <strong>
                    <small class="flex gap-2">
						<strong>{calcReadTime(content.body)} min read</strong>
						&bullet;
						<strong>{formatDate(content.data.postDate, "short")}</strong>
					</small>
                </strong>
            </div>
        )
    }
	<div class="flex gap-2">
        {
            collection === "tools" && (
                <Button label="View details" href={`/${collection}/${slug}`} icon="arrow-right" />
                <Button href={content.data.href} icon="download" primary />
            )
        }
        {
            collection === "posts" && (
                <Button label="Read post" href={`/${collection}/${slug}`} icon="arrow-right" />
            )
        }
        {
            content.collection === "posts" && content.data.embed && (
                <Button href={`http://youtu.be/${content.data.embed}`} icon="youtube" primary />
            )
        }
	</div>
    {
        (collection === "posts" && content.data.image) && (
            <div
                data-img
                style={{"--img-path": `url("/images/${collection}/${content.slug}/header.png")`}}
                class="absolute -left-28 flex justify-center items-center  border-lg shadow-lg w-24 rounded-full aspect-square"
            />
        )
    }
    {
        (collection === "tools" && content.data.icon) && (
            <div
                data-img
                class="absolute -left-28 flex justify-center items-center  border-lg shadow-lg w-24 rounded-full aspect-square bg-orange"
            >
                <Icon name={matchIconNameType(content.data.icon)} size="64" />
            </div>
        )
    }
    <div class="absolute -bottom-4">
        <TagList {tags} />
    </div>
</div>

<style>
    [data-img] {
        background-image: var(--img-path);
        background-size: cover;
        background-position: center;

        &::after {
            position: absolute;

            width: 100%;
            height: 100%;

            border-radius: 999px;
            border: solid white 4px;
            content: "";
        }
    }
</style>