---
// import Icon, { matchIconNameType } from "@/ui/Icon.astro";
import Button from "@/ui/Button.astro";
import Badge from "./ui/Badge.astro";
import { calcReadTime, formatDate, setImageSrc, setSlug, slugify, titleCase } from "@/scripts/utilities";
import { type Collection } from "@/content/config";
import Image from "astro/components/Image.astro";

interface Props {
	content: Collection;
}

const { content } = Astro.props;
const { title, description, postDate, lastUpdated } = content.data;
const { collection } = content;

function getPostDate() {
    if (lastUpdated) {
        return lastUpdated;
    }

    return postDate;
}
---

<article class="content-card" style={`--content-image: url("/images/${collection}/${content.slug}/header.png")`}>
    <section class="content-card-info">
        {collection === "models" && (
            <span class="content-card-badges">
                <Badge label={`${content.data.modelStats[0]} Vertices`} icon="circle" />
                <Badge label={`${content.data.modelStats[1]} Triangles`} icon="triangle" />
                <Badge label={`${content.data.modelStats[2]} Quads`} icon="square" />
            </span>
        )}
        <div class="content-card-text">
            <h2>{title}</h2>
            <p>{description}</p>
        </div>
        <div class="content-card-stats">
            <span>{formatDate(postDate)}</span>
            <span>&bullet;</span>
            {collection === "posts" ? (
                <span>{calcReadTime(content.body)} min. read</span>
            ) : (
                <span>{content.data.size}</span>
            )}
        </div>
        <div class="content-card-cta">
            <Button
                label={titleCase(`View ${titleCase(collection).slice(0, -1)}`)}
                href={setSlug(content)}
            />
        </div>
    </section>
    {collection === "posts" && content.data.image && (
        <div data-image>
            <div class="content-card-image"></div>
            <div class="content-card-image">
                <div class="bg-image"></div>
            </div>
        </div>
    )}
    {collection === "models" && (
        <div class="content-card-image">
            <div class="bg-image"></div>
        </div>
    )}
</article>

<style>
    .content-card {
        --content-gap: var(--space-4);
        --content-hover-speed: 300ms;
        --content-hover-easing: cubic-bezier(0, 0, 0, 1);

        position: relative;
        display: flex;
        gap: var(--content-gap);

        padding: var(--card-padding);
        border: var(--border);
        border-radius: var(--radius-lg);
        background: var(--bg-light);

        &:hover,
        &:focus-visible,
        &:focus-within {
            .content-card-cta a::after {
                position: absolute;
                inset: 0;
                z-index: 1;
                content: "";
            }
    
            .content-card-image {
                width: calc(100% - calc(var(--content-width) + var(--space-24)));
            }

            .bg-image {
                opacity: 1.0;
                transform: scale(1.1);
            }
        }

        &:focus-within {
            box-shadow: 0 0 0 0.25em var(--green-50);


            :focus {
                outline: none;
            }
        }
    }
    
    .content-card-badges {
        display: flex;
        gap: var(--space-1);
    }

    .content-card-info {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);

        max-width: var(--content-width);
    }

    .content-card-text {
        display: flex;
        flex-direction: column;
        gap: var(--space-1);

        h2, p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .content-card-stats {
        display: flex;
        gap: var(--space-2);

        span {
            font-size: var(--text-sm);
            color: var(--text-muted);
        }
    }

    .content-card-image {
        overflow: clip;
        position: absolute;
        top: var(--poster-inset);
        right: var(--poster-inset);

        width: calc(100% - calc(var(--content-width) + var(--space-32)));
        height: calc(100% - calc(var(--poster-inset) * 2));

        border-top-right-radius: var(--radius-md);
        border-bottom-right-radius: var(--radius-md);

        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, var(--space-8) 0%);

        transition: var(--content-hover-speed) var(--content-hover-easing);
    }

    .bg-image {
        height: 100%;
        background-image: var(--content-image);
        background-size: cover;
        background-position: center;

        opacity: 0.9;
        transform: scale(1.05);
        transition: var(--content-hover-speed) var(--content-hover-easing);
    }
</style>