---
import AssetPoster from "@/ui/AssetPoster.astro";
import type { Collection } from "@/content/config";
import ContentCard from "@/components/ContentCard.astro";
import { setImageSrc } from "@/scripts/utilities";

interface Props {
	content: Collection;
	heading?: boolean;
}

const { content } = Astro.props;
const { title } = content.data;
---

<div class:list={["layout-sm", "max-sm:gap-4"]}>
	{
		content.collection === "models" ? (
			<AssetPoster title={title} modelID={content.data.id} />
		) : content.collection === "posts" && content.data.embed ? (
			<AssetPoster title={title} videoEmbed={content.data.embed}/>
		) : (
			<AssetPoster title={title} src={setImageSrc(content)}/>
		)
	}
	<ContentCard {content} />
</div>
