---
import Button from "@/ui/Button.astro";
import { calcReadTime, formatDate } from "@/scripts/utilities";
import TagList from "./TagList.astro";
import ImageWrapper from "./ui/ImageWrapper.astro";
import Model from "./ui/Model.astro";
import Icon from "./ui/Icon.astro";
import type { Collection } from "@/content/config";
import VideoEmbed from "./VideoEmbed.astro";

interface Props {
	content: Collection;
	heading?: boolean;
}

const { content, heading } = Astro.props;
const { title, tags, description, postDate } = content.data;
const { collection, slug, body } = content;
---

<div class:list={["flex flex-col gap-8", "max-sm:gap-4"]}>
	{
		content.collection === "models" ? (
			<Model title={title} id={content.data.id} />
		) : content.collection === "posts" && content.data.embed ? (
			<VideoEmbed embed={content.data.embed}/>
		) : content.data.image && (
			<ImageWrapper src={`/${collection}/${slug}/header.png`} />
		)
	}
	<div class:list={["flex gap-8", "max-sm:flex-col max-sm:gap-4"]}>
		<div class="relative card-lg gap-2 w-full h-fit">
			{
				heading ? (
					<div class="flex gap-2 items-start">
						<h1 class="truncate">{title}</h1>
					</div>
					<p class="mb-2">{description}</p>
					<TagList {tags} />
				) : (
					<div class="flex flex-col gap-2">
						<h2 class="truncate">{title}</h2>
						<TagList {tags} />
					</div>
					<p class="mb-2">{description}</p>
					<Button label="View details" href={`/${collection}/${slug}`} />
				)
			}
			
			
		</div>
		<div class="flex flex-col gap-4">
			<div class="flex gap-4 w-[360px]">
				<div class="card-sm items-center justify-center w-full text-nowrap">
					<strong>{formatDate(postDate, "short")}</strong>
				</div>
				<div class="card-sm w-fit text-nowrap">

					{
						content.collection === "posts" ? (
							<strong>{calcReadTime(body)} min read</strong>
						)
						: (
							<strong>{content.data.size}</strong>
						)
					}
				</div>
			</div>
				{
					collection === "models" && (
						<ul class="flex flex-wrap just gap-4 text-nowrap">
							<li class="card-sm flex-row gap-1 w-fit">
								<Icon name="vertex" size="24" />
								<span>
									<strong>{content.data.modelStats[0]}</strong> Verts
								</span>
							</li>
							<li class="card-sm flex-row gap-1 w-fit">
								<Icon name="triangle" size="24" />
								<span>
									<strong>{content.data.modelStats[1]}</strong> Tris
								</span>
							</li>
							<li class="card-sm flex-row gap-1 w-fit">
								<Icon name="quad" size="24" />
								<span>
									<strong>{content.data.modelStats[2]}</strong> Quads
								</span>
							</li>
							<li class="card-sm flex-row gap-1 w-fit">
								<Icon name="ngon" size="24" />
								<span>
									<strong>{content.data.modelStats[3]}</strong> N-gons
								</span>
							</li>
						</ul>
					)
				}
		</div>
	</div>
</div>
