---
interface Props {
    label: string;
    id: string;
    type: astroHTML.JSX.HTMLInputTypeAttribute;
    placeholder?: string;
    value?: string;
    required?: boolean;
}

const { label, id, type, placeholder, value, required = false } = Astro.props;
---

<label for={id} class="grid gap-2">
    <span class="heading-sm">{label}</span>
    <input {id} {type} {placeholder} {value} {required} class="border rounded-md py-1 px-2">
</label>