---
import { slugify } from "@/scripts/slugify";
import Icon from "./Icon.astro";
import type { IconName } from "./Icon.astro";

interface Props {
    label: string;
    icon?: IconName;
    isActive?: astroHTML.JSX.AriaAttributes['aria-current'];
    href?: string;
    underline?: boolean;
}
const {
    label,
    href,
    icon = "none",
    isActive = false,
    underline = false
} = Astro.props;
---

<a
aria-current={isActive}
data-underline={underline}
href={href ? href : `/${slugify(label)}`}
title={label}
class="flex items-center gap-2 relative text-[var(--color-text)]" >
    {icon !== "none" && <Icon name={icon}/>}
    {label}
</a>

<style>
a {
    --color-indicator: var(--color-neutral-900);
    --color-hover: color-mix(in srgb, var(--color-text), var(--color-surface-primary) 50%);

    &:hover {
        color: var(--color-hover);
    }
}

a[data-underline="true"] {
    text-decoration-line: underline;
}

a[aria-current="page"]{ 
    &:hover {
        color: inherit;
    }

    &::after {
        position: absolute;
        top: 1.75rem;
        width: 100%;
        height: 0.125rem;

        background-color: var(--color-indicator);

        pointer-events: none;
        content: "";
    }
}
</style>
