---
import TagList from "@/components/TagList.astro";
import Button from "@/ui/Button.astro";
import Model from "@/ui/Model.astro";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
	model: CollectionEntry<"models">;
	featured?: boolean;
}

const { model, featured } = Astro.props;
const { title, subTitle, id, tags, description, image } = model.data;
---

{
	featured ? (
		<div class="flex gap-8 w-full">
			<Model {title} {id} />
			<div class="flex flex-col gap-4 p-8 border-lg shadow-lg bg-white w-[360px]">
				<h3 class="w-full">
					{title} - {subTitle}
				</h3>
				<TagList {tags} />
				<p>{description}</p>
				<Button label="View details" href={"/models/" + model.slug} />
			</div>
		</div>
	) : (
		<div class="relative flex flex-col justify-start border-lg shadow-lg bg-white">
			<div class="absolute -inset-3 flex flex-col gap-2 ">
				<h3 class="border-sm shadow-lg bg-white w-fit h-fit py-2 px-4">{title}</h3>
				<div class="ml-8">
					<TagList {tags} />
				</div>
			</div>
			<div class="flex justify-center items-center p-2">
				<Image
					src={"/images/" + image}
					alt={title + " - " + subTitle}
					class="rounded-[var(--radius-sm)] w-full aspect-video"
					width="100"
					height="100"
					format="webp"
				/>
			</div>
			<div class="absolute -bottom-1 -right-1">
				<Button label="View live model" href={"/models/" + model.slug} />
			</div>
		</div>
	)
}
