---
import TagList from "@/components/TagList.astro";
import Button from "@/ui/Button.astro";
import Model from "@/ui/Model.astro";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
	model: CollectionEntry<"models">;
	featured?: boolean;
}

const { model, featured } = Astro.props;
const { title, subTitle, id, tags, description, image } = model.data;
---

{
	featured ? (
		<div class="flex gap-8">
			<Model {title} {id} />
			<div class="flex flex-col gap-4">
				<span class="heading-xs">Featured</span>
				<h3>
					{title} - {subTitle}
				</h3>
				<TagList {tags} />
				<p>{description}</p>
				<Button label="View full model details" href={"/models/" + model.slug} />
			</div>
		</div>
	) : (
		<div class="flex flex-col justify-start border-lg shadow-lg">
			<div class="flex justify-center items-center p-2 border-bottom">
				<Image
					src={"/images/" + image}
					alt={title + " - " + subTitle}
					class="border-sm w-full aspect-video"
					width="100"
					height="100"
					format="webp"
				/>
			</div>
			<div class="flex flex-col items-start gap-8 p-8 overflow-hidden rounded-b-lg">
				<h3 class="flex justify-left truncate w-full">{title}</h3>
				<TagList {tags} />
				<p class="h-[3em] line-clamp-2">{description}</p>
				<Button label="View live model" href={"/models/" + model.slug} />
			</div>
		</div>
	)
}
