---
import TagList from "@/components/TagList.astro";
import Button from "@/ui/Button.astro";
import Model from "@/ui/Model.astro";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import ModelStats from "@/ui/ModelStats.astro";

interface Props {
	model: CollectionEntry<"models">;
	featured?: boolean;
}

const { model, featured } = Astro.props;
const { title, subTitle, id, tags, description } = model.data;

function generateRotation(): string {
	const min = -6;
	const max = 6;
	const randomInt = Math.floor(Math.random() * (max - min + 1)) + min;

	return randomInt + "deg";
}
---

{
	featured ? (
		<div class="flex gap-8 w-full">
			<Model {title} {id} />
			<div class="flex flex-col gap-4 p-8 border-lg shadow-lg bg-white w-[360px]">
				<h3 class="w-full">
					{title} - {subTitle}
				</h3>
				<TagList {tags} />
				<p class="line-clamp-3">{description}</p>
				<ModelStats {model} />
				<Button label="View details" href={"/models/" + model.slug} />
			</div>
		</div>
	) : (
		<div data-model-card class="relative">
			<strong class=" absolute -inset-3 flex flex-col gap-2 border-sm shadow-lg bg-white w-fit h-fit py-2 px-4 z-1">
				{title}
			</strong>
			<a
				href={"/models/" + model.slug}
				class="flex flex-col justify-start border-lg shadow-lg bg-white"
			>
				<div class="flex justify-center items-center p-2">
					<Image
						src={`/images/models/${model.slug}/header.png`}
						alt={title + " - " + subTitle}
						class="rounded-[var(--radius-sm)] w-full aspect-video"
						width="1920"
						height="1080"
						format="webp"
					/>
				</div>
			</a>
			<div
				data-hover-text
				class="absolute invisible flex inset-3 justify-center items-center pointer-events-none"
			>
				<strong
					style={{ "--text-rotation": generateRotation() }}
					class="p-4 border-2 bg-white rounded-lg rotate-(--text-rotation)"
				>
					Click to view details
				</strong>
			</div>
		</div>
	)
}

<style>
	[data-model-card] > a {
		position: relative;
		overflow: hidden;

		&:hover::before {
			position: absolute;
			inset: calc(var(--spacing) * 2);
			content: "";

			background-color: var(--color-white);
			border-radius: var(--radius-sm);

			opacity: 0.2;
		}
	}

	[data-model-card]:hover [data-hover-text] {
		visibility: visible;
		overflow: hidden;

		border-radius: var(--radius-sm);

		&::before {
			position: absolute;
			inset: 0;
			content: "";

			background-image: var(--bg-6);
			border-radius: var(--radius-sm);

			transform: scale(2);
			animation: button-marquee 5s linear infinite;
			opacity: 0.05;
		}
	}
</style>
