---
import TagList from "@/components/TagList.astro";
import Button from "./ui/Button.astro";
import Model from "./ui/Model.astro";
import Link from "./ui/Link.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
	model: CollectionEntry<"models">;
	featured?: boolean;
}

const { model, featured } = Astro.props;
const { title, subTitle, id, tags, description } = model.data;
---

{
	featured ? (
		<div class="flex gap-8">
			<Model {title} {id} />
			<div class="flex flex-col gap-4">
				<span class="heading-xs">Featured</span>
				<h3>
					{title} - {subTitle}
				</h3>
				<TagList {tags} />
				<p>{description}</p>
				<Button label="View full model details" href={"/models/" + model.slug} />
			</div>
		</div>
	) : (
		<div class="flex flex-col justify-start border-lg shadow-lg w-sm">
			<div class=" flex justify-center items-center p-2 border-bottom">
				<div class=" border-2 rounded-sm bg-black w-full aspect-video" />
			</div>
			<div class="flex flex-col items-start gap-8 p-8 overflow-hidden rounded-b-lg ">
				<h3 class="flex justify-left truncate w-full">{title}</h3>
				<TagList {tags} />
				<p class="h-[3em] line-clamp-2">{description}</p>
				<Button label="View live demo" href={"/models/" + model.slug} />
			</div>
		</div>
	)
}
