---
interface Props {
    label: string;
    id?: string;
    placeholder?: string;
    value?: string;
}

const { label,  id, placeholder, value } = Astro.props;
---

<label for={id} class="grid gap-2">
    <span class="heading-sm">{label}</span>
    <textarea name={label} {id} {placeholder} {value} class="border rounded-md py-1 px-2"></textarea>
</label>
