---
import SideBar from "@/components/SideBar.astro";
import TagList from "@/components/TagList.astro";
import ImageWrapper from "@/components/ui/ImageWrapper.astro";
import Link from "@/ui/Link.astro";
import { ALL_ARTICLES, ALL_MODELS, ALL_TOOLS } from "@/content/config";
import { calcReadTime, formatDate } from "@/scripts/utilities";
import type { CollectionEntry } from "astro:content";
import Model from "@/components/ui/Model.astro";

interface Props {
	content: CollectionEntry<"articles"> | CollectionEntry<"tools"> | CollectionEntry<"models">;
}

const { content } = Astro.props;
const { title, description, postDate, tags } = content.data;
const { headings } = await content.render();
---

<section class="wrapper flex gap-16 py-16 w-lg">
	<div class="flex flex-col gap-8 w-full">
		<Link
			label={"Back to " + content.collection}
			href={"/" + content.collection}
			iconLeft="arrow-left"
			underline
		/>
		<div class="flex flex-col gap-4">
			<h1 class="heading-lg">{title}</h1>
			{content.collection === "articles" && <TagList contentArray={ALL_ARTICLES} {tags} />}
			{content.collection === "tools" && <TagList contentArray={ALL_TOOLS} {tags} />}
			{content.collection === "models" && <TagList contentArray={ALL_MODELS} {tags} />}
			<p>{description}</p>
			<small>
				{
					content.collection === "articles" && (
						<strong>
							{calcReadTime(content.body)} min read &bullet;
							{formatDate(postDate)}
						</strong>
					)
				}
				{
					content.collection === "tools" && (
						<strong>
							v{content.data.version} &bullet; {formatDate(postDate)}
						</strong>
					)
				}
			</small>
		</div>
		{
			content.collection === "models" ? (
				<Model {title} id={content.data.id} />
			) : (
				<ImageWrapper />
			)
		}
		<article class="content flex flex-col gap-8 scroll-mt-[92px]">
			<slot />
		</article>
	</div>
	<SideBar {headings} {content} />
</section>
