---
import SideBar from "@/components/SideBar.astro";
import TagList from "@/components/TagList.astro";
import Image from "@/components/ui/Image.astro";
import Link from "@/components/ui/Link.astro";
import { ALL_ARTICLES, ALL_TOOLS } from "@/content/config";
import { calcReadTime, formatDate } from "@/scripts/utilities";
import type { CollectionEntry } from "astro:content";

interface Props {
	content: CollectionEntry<"articles"> | CollectionEntry<"tools">;
}

const { content } = Astro.props;
const { title, description, postDate, tags } = content.data;
const { headings } = await content.render();
---

<section class="wrapper flex gap-16 py-16 w-lg">
	<div class="flex flex-col gap-8 w-full">
		{
			content.collection === "articles" && (
				<Link label="Back to articles" href="/articles" iconLeft="arrow-left" underline />
			)
		}
		{
			content.collection === "tools" && (
				<Link label="Back to tools" href="/tools" iconLeft="arrow-left" underline />
			)
		}
		<div class="flex flex-col gap-4">
			<h1 class="heading-lg">{title}</h1>
			{content.collection === "articles" && <TagList contentArray={ALL_ARTICLES} {tags} />}
			{content.collection === "tools" && <TagList contentArray={ALL_TOOLS} {tags} />}
			<p>{description}</p>
			{
				content.collection === "articles" && (
					<small class="text-dim">
						{calcReadTime(content.body)} min read &bullet;
						{formatDate(postDate)}
					</small>
				)
			}
			{
				content.collection === "tools" && (
					<small class="text-dim">
						v{content.data.version} &bullet; {formatDate(postDate)}
					</small>
				)
			}
		</div>
		<Image placeholder />
		<article class="content flex flex-col gap-8 scroll-mt-[92px]">
			<slot />
		</article>
	</div>
	<SideBar {headings} {content} />
</section>
