---
import SideBar from "@/components/SideBar.astro";
import TagList from "@/components/TagList.astro";
import ImageWrapper from "@/components/ui/ImageWrapper.astro";
import Link from "@/ui/Link.astro";
import { calcReadTime, formatDate } from "@/scripts/utilities";
import Model from "@/components/ui/Model.astro";
import type { Collection } from "@/content/config";
import Icon, { matchIconNameType, type ICON_NAME } from "@/components/ui/Icon.astro";

interface Props {
	content: Collection;
}

const { content } = Astro.props;
const { title, description, postDate, tags, image } = content.data;
const { collection, body } = content;
const { headings } = await content.render();
---

<Link label={`View all ${collection}`} href={`/${collection}`} underline />
<!-- <div class="flex gap-16">
	<div class="flex flex-col gap-8 w-full">
		<div class="flex flex-col gap-4">
			<h1>{title}</h1>
			<TagList {tags} />
			<p>{description}</p>
			<small>
				{
					collection === "posts" && (
						<strong>
							{calcReadTime(body)} min read &bullet;
							{formatDate(postDate)}
						</strong>
					)
				}
				{
					collection === "tools" && (
						<strong>
							{content.data.version} &bullet; {formatDate(postDate)}
						</strong>
					)
				}
			</small>
		</div>
		{
			content.collection === "models" ? (
				<Model {title} id={content.data.id} />
			) : (
				<div class="relative">
					{content.collection === "tools" && (
						<div class="absolute -top-4 -left-4 flex justify-center items-center border-lg shadow-lg rounded-full w-24 aspect-square z-10 bg-yellow">
							<Icon name={matchIconNameType(content.data.icon)} size="64" />
						</div>
					)}
					<ImageWrapper src={image} />
				</div>
			)
		}
		<article class="content flex flex-col gap-8">
			<slot />
		</article>
	</div>
	<SideBar {headings} {content} />
</div> -->
<div class="flex flex-col gap-16">
	{
		content.collection === "models" ? (
			<Model {title} id={content.data.id} />
		) : (
			<div class="relative mb-4">
				{content.collection === "tools" && (
					<div class="absolute -top-4 -left-4 flex justify-center items-center border-lg shadow-lg rounded-full w-24 aspect-square z-10 bg-yellow">
						<Icon name={matchIconNameType(content.data.icon)} size="64" />
					</div>
				)}
				<ImageWrapper src={image} />
			</div>
		)
	}

	<div class="flex gap-16">
		<div class="flex flex-col gap-16">
			<div class="flex flex-col gap-4">
				<h1>{title}</h1>
				<TagList {tags} />
				<p>{description}</p>
				<small class="flex gap-2">
					{
						collection === "posts" && (
							<>
								<strong>{formatDate(postDate)}</strong>
								<span>&bullet;</span>
								<strong>{calcReadTime(body)} min read</strong>
							</>
						)
					}
					{
						collection === "tools" && (
							<>
								<strong>{formatDate(postDate)}</strong>
								<span>&bullet;</span>
								<strong>{content.data.version}</strong>
							</>
						)
					}
					{
						collection === "models" && (
							<>
								<strong>{formatDate(postDate)}</strong>
								<span>&bullet;</span>
								<strong>{content.data.size}</strong>
							</>
						)
					}
				</small>
			</div>
			<article class="content flex flex-col gap-8">
				<slot />
			</article>
		</div>

		<SideBar {headings} {content} />
	</div>
</div>
