---
import ContentNavigation from "@/components/ContentNavigation.astro";
import ImageWrapper from "@/components/ui/ImageWrapper.astro";
import Model from "@/components/ui/Model.astro";
import SideBar from "@/components/SideBar.astro";
import TagList from "@/components/TagList.astro";

import { calcReadTime, formatDate } from "@/scripts/utilities";
import type { Collection } from "@/content/config";
import VideoEmbed from "@/components/VideoEmbed.astro";
import Button from "@/components/ui/Button.astro";
import TableOfContents from "@/components/ui/TableOfContents.astro";

interface Props {
	content: Collection;
	contentCollection: Array<Collection>;
	index: number;
}

const { content, contentCollection, index } = Astro.props;
const { title, description, postDate, tags } = content.data;
const { collection, body } = content;
const { headings } = await content.render();

function setButtonLabel(): string {
	if (collection === "tools" && content.data.price === "$0+") {
		return "Download"
	}

	return "Buy";
}
---

<div class="flex flex-col gap-16">
	{
		content.collection === "models" ? (
			<div class="flex flex-col gap-8">
				<ContentNavigation {content} {contentCollection} {index} />
				<Model {title} id={content.data.id} />
			</div>
		) : (
			<div class="relative flex flex-col gap-8">
				<ContentNavigation {content} {contentCollection} {index} />
				{content.collection === "posts" && content.data.embed ? (
					<VideoEmbed embed={content.data.embed} />
				) : (
					<ImageWrapper src={`/${content.collection}/${content.slug}/header.png`} />
				)}
			</div>
		)
	}
	<div class="flex gap-16">
		<div class="flex flex-col gap-16">
			<div class="flex flex-col gap-4">
				<h1>{title}</h1>
				<TagList {tags} />
				<p>{description}</p>
				<div class="layout-sm">
					{
						collection === "posts" && (
							<small>
								<strong>{formatDate(postDate)}</strong>
								<span>&bullet;</span>
								<strong>{calcReadTime(body)} min read</strong>
							</small>
						)
					}
					{
						collection === "tools" && (
							<small>
								<strong>{formatDate(postDate)}</strong>
								<span>&bullet;</span>
								<strong>{content.data.version}</strong>
							</small>
							<Button label={`${setButtonLabel()} tool`} icon="download" href={content.data.href} primary />
						)
					}
					{
						collection === "models" && (
							<small>
								<strong>{formatDate(postDate)}</strong>
								<span>&bullet;</span>
								<strong>{content.data.size}</strong>
							</small>
						)
					}
				</div>
			</div>
			{ headings.length > 0 && <TableOfContents {headings} /> }
			<article class="content flex flex-col gap-8">
				<slot />
			</article>
		</div>
		<SideBar class="max-sm:hidden" {headings} {content} />
	</div>
</div>
