---
import Icon, { type ICON_NAME } from "./Icon.astro";
import { titleCase } from "@/scripts/utilities";
import type { HTML } from "@/scripts/constants";

interface Props extends HTML {
	id?: string;
	type?: "submit" | "toggle" | "link";
	label?: string;
	href?: string;
	iconRight?: boolean;
	icon?: ICON_NAME;
	iconOnly?: boolean;
	disabled?: boolean;
	responsive?: boolean;
}

const {
	id,
	type = "link",
	label,
	href,
	icon = "arrow-right",
	iconRight = false,
	iconOnly = false,
	disabled,
	responsive,
	class: className,
} = Astro.props;

const buttonStyles = [
	"button"
];

---

{
	type === "submit" && (
		<button
			{id}
			data-disabled={disabled}
			data-icon-only={iconOnly}
			{type}
			title={label}
			class:list={[buttonStyles, className]}
		>
			{label && (
				<strong class:list={["text-nowrap", responsive && "max-sm:hidden"]}>{label}</strong>
			)}
			{icon && icon !== "none" && (
				<Icon name={icon} {disabled} />
			)}
		</button>
	)
}
{
	type === "toggle" && (
		<form class:list={[className]} action="toggle">
			<label
				{id}
				data-disabled={disabled}
				data-icon-only={iconOnly}
				title={label ? label : titleCase(icon)}
				class:list={[buttonStyles, className]}
			>
				<input type="checkbox" />
				{label && (
					<strong class:list={["text-nowrap", responsive && "max-sm:hidden"]}>
						{label}
					</strong>
				)}
				{icon && icon !== "none" && (
					<Icon name={icon} {disabled} />
				)}
			</label>
		</form>
	)
}
{
	type === "link" && (
		<a
			{id}
			data-disabled={disabled}
			data-icon-only={iconOnly}
			title={label ? label : titleCase(icon)}
			class:list={[buttonStyles, className]}
			{href}
		>
			{!iconRight && (
				<Icon name={icon} {disabled} />
			)}
			{label && (
				<strong class:list={["text-nowrap", responsive && "max-sm:hidden"]}>{label}</strong>
			)}
			{iconRight && icon !== "none" && (
				<Icon name={icon} {disabled} />
			)}
		</a>
	)
}

<style>
	.button {
		--padding: calc(var(--spacing) * 3);

		display: flex;
		align-items: center;
		justify-content: center;
		gap: calc(var(--spacing) * 2);

		border-radius: var(--radius-sm);
		border: solid var(--outline) 1px;
		color: var(--text);
		background-color: var(--bg-light);

		padding-block: var(--padding);
		padding-inline: calc(var(--padding) * 2);
		cursor: pointer;

		&:hover {
			background-color: var(--bg-hover);
		}

		&:active {
			background-color: var(--bg-active);
		}
	}

	[data-disabled="true"] {
		color: var(--text-muted);
		background: var(--bg-muted);
		border-color: var(--text-muted);
		pointer-events: none;
		cursor: not-allowed;
	}

	[data-icon-only="true"] {
		padding-inline: var(--padding);
		aspect-ratio: 1/1;
	}

	label:has(input[type="checkbox"]) {
		& input[type="checkbox"] {
			display: none;
		}
	}
</style>
