---
import { Color, Pattern, setStyles } from "@/scripts/interface";
import type { IconName } from "@/ui/Icon.astro";
import Icon from "@/ui/Icon.astro";

interface Props {
	submit?: boolean;
	label: string;
	href?: string;
	icon?: IconName;
	primary?: boolean;
}

const { submit, label, href, icon = "arrow-right", primary } = Astro.props;

function toggleButtonColor(isPrimary: boolean | undefined): string {
	if (isPrimary) {
		return Color.lime;
	}

	return Color.white;
}
---

{
	submit ? (
		<button
			title={label}
			class="flex items-center gap-1 px-4 py-2 border-sm shadow-lg shadow-lg-hover bg-[var(--button-color)] w-fit cursor-pointer"
			style={setStyles("button", toggleButtonColor(primary), Pattern["2"])}
		>
			<strong>{label}</strong>
			{icon && <Icon name={icon} />}
		</button>
	) : (
		<a
			title={label}
			class="flex items-center gap-1 px-4 py-2 border-sm shadow-lg shadow-lg-hover bg-[var(--button-color)] w-fit"
			style={setStyles("button", toggleButtonColor(primary), Pattern["2"])}
			{href}
		>
			<strong>{label}</strong>
			{icon && <Icon name={icon} />}
		</a>
	)
}

<style>
	a,
	button {
		position: relative;
		overflow: hidden;

		&:hover {
			text-shadow:
				0 0 8px var(--button-color),
				0 0 16px var(--button-color);

			&::before {
				background-image: var(--bg-2);
				transform: scale(2);

				position: absolute;
				inset: 0;

				content: "";
				animation: button-marquee 5s linear infinite;
				opacity: 0.1;
			}
		}
	}
</style>
