---
import type { IconName } from "@/ui/Icon.astro";
import Icon from "./Icon.astro";

interface Props {
	submit?: boolean;
	label: string;
	href?: string;
	icon?: IconName;
	primary?: boolean;
}

const { submit, label, href, icon = "arrow-right", primary } = Astro.props;

function selectButtonColor(isPrimary: typeof Astro.props.primary): string {
	if (isPrimary) {
		return "var(--color-cta-primary)";
	}

	return "var(--color-cta-secondary)";
}
---

{
	submit ? (
		<button
			title={label}
			class="flex items-center gap-1 px-4 py-2 border-sm shadow-lg bg-[var(--color-primary)] w-fit cursor-pointer"
		>
			<span>{label}</span>
			{icon && <Icon name={icon} />}
		</button>
	) : (
		<a
			title={label}
			class="flex items-center gap-1 px-4 py-2 border-sm shadow-lg shadow-lg-hover bg-[var(--color-primary)] w-fit"
			{href}
		>
			<span>{label}</span>
			{icon && <Icon name={icon} />}
		</a>
	)
}

<style define:vars={{ "color-primary": selectButtonColor(primary) }}>
	a,
	button {
		--color-cta-primary: red;
		--color-cta-secondary: var(--color-neutral-50);
	}
</style>
