---
import type { IconName } from "@/ui/Icon.astro";
import Icon from "./Icon.astro";

interface Props {
	submit?: boolean;
	label: string;
	href?: string;
	icon?: IconName;
	primary?: boolean;
}

const { submit, label, href, icon = "arrow-right", primary } = Astro.props;

function selectButtonColor(isPrimary: typeof Astro.props.primary): string {
	if (isPrimary) {
		return "var(--color-cta-primary)";
	}

	return "var(--color-cta-secondary)";
}
---

{
	submit ? (
		<button
			title={label}
			class="flex items-center gap-1 px-4 py-2 border-sm shadow-lg shadow-lg-hover bg-[var(--bg)] w-fit cursor-pointer"
		>
			<strong>{label}</strong>
			{icon && <Icon name={icon} />}
		</button>
	) : (
		<a
			title={label}
			class="flex items-center gap-1 px-4 py-2 border-sm shadow-lg shadow-lg-hover bg-[var(--bg)] w-fit"
			{href}
		>
			<strong>{label}</strong>
			{icon && <Icon name={icon} />}
		</a>
	)
}

<style define:vars={{ bg: selectButtonColor(primary) }}>
	a,
	button {
		--color-cta-primary: var(--color-lime);
		--color-cta-secondary: var(--color-neutral-50);

		position: relative;
		&:hover {
			text-shadow:
				0 0 8px var(--bg),
				0 0 16px var(--bg);

			&::before {
				background-image: url("/backgrounds/bg-2.png");

				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				content: "";
				animation: marquee 5s linear infinite;
				opacity: 0.2;
			}
		}
	}

	@media (prefers-reduced-motion: reduce) {
		a,
		button {
			&:hover::before {
				animation: none;
			}
		}
	}

	@keyframes marquee {
		0% {
			background-position: 0;
		}
		100% {
			background-position: 64px;
		}
	}
</style>
