---
import { Color, Pattern, setStyles } from "@/scripts/interface";
import Icon, { type ICON_NAME } from "./Icon.astro";
import { titleCase } from "@/scripts/utilities";

interface Props {
	id?: string;
	type?: "submit" | "toggle" | "link";
	label?: string;
	href?: string;
	icon?: ICON_NAME;
	primary?: boolean;
}

const { id, type = "link", label, href, icon = "arrow-right", primary } = Astro.props;
const buttonClasses = `
	flex items-center gap-1 button-marquee py-2 border-sm shadow-lg shadow-lg-hover bg-[var(--button-color)] w-fit cursor-pointer
	${!label ? "px-2" : "px-4"}
	`;
const style = setStyles("button", setButtonColor(primary), Pattern["2"]);

function setButtonColor(isPrimary: boolean | undefined): string {
	if (isPrimary) {
		return Color.lime;
	}

	return Color.neutral;
}
---

{
	type === "submit" && (
		<button {id} {type} title={label ? label : titleCase(icon)} class={buttonClasses} {style}>
			{label && <strong class="text-nowrap">{label}</strong>}
			{icon && <Icon name={icon} size={!label ? "24" : "16"} />}
		</button>
	)
}
{
	type === "toggle" && (
		<form action="toggle">
			<label {id} title={label ? label : titleCase(icon)} class={buttonClasses} {style}>
				<input type="checkbox" />
				{label && <strong class="text-nowrap">{label}</strong>}
				{icon && <Icon name={icon} size={!label ? "24" : "16"} />}
			</label>
		</form>
	)
}
{
	type === "link" && (
		<a {id} title={label ? label : titleCase(icon)} class={buttonClasses} {style} {href}>
			{label && <strong class="text-nowrap">{label}</strong>}
			{icon && <Icon name={icon} size={!label ? "24" : "16"} />}
		</a>
	)
}

<style>
	label:has(input[type="checkbox"]) {
		& input[type="checkbox"] {
			display: none;
		}
	}

	label:has(input[type="checkbox"]:checked) {
		background-color: var(--color-lime);
		text-shadow: none;
	}
</style>
