---
import Icon, { type ICON_NAME } from "@/ui/Icon.astro";
import { titleCase } from "@/scripts/utilities";
import type { HTML } from "@/scripts/constants";

interface Props extends HTML {
	id?: string;
	type?: "submit" | "toggle" | "link";
	label?: string;
	href?: string;
	iconRight?: boolean;
	icon?: ICON_NAME;
	iconOnly?: boolean;
	disabled?: boolean;
	fullWidth?: boolean;
	primary?: boolean;
}

const {
	id,
	type = "link",
	label,
	href,
	icon = "arrow-up-left",
	iconRight = false,
	iconOnly = false,
	disabled,
	fullWidth = false,
	primary,
	class: className,
} = Astro.props;

const buttonStyles = "button row-xs center border";

function setBackgroundColor (isPrimary: boolean | undefined): string {
	if (isPrimary) {
		return (`
			--bg-light: var(--brand-bg);
			--bg-hover: var(--brand-bg-hover);
			--outline: var(--brand-outline);
			--outline-hover: var(--brand-outline-hover);
		`);
	}
	
	return "--button-bg: var(--bg-light);";
}
---

{type === "submit" && (
	<button
		{id}
		data-disabled={disabled}
		data-icon-only={iconOnly}
		data-width={fullWidth}
		{type}
		title={label}
		class:list={[buttonStyles, className]}
		style={setBackgroundColor(primary)}
	>
		{!iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
		{label && label}
		{iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
	</button>
)}
{type === "toggle" && (
	<form action="toggle" class:list={[className]}>
		<label
			{id}
			data-disabled={disabled}
			data-icon-only={iconOnly}
			data-width={fullWidth}
			title={label ? label : titleCase(icon)}						
			class:list={[buttonStyles, className]}
			style={setBackgroundColor(primary)}
		>
			<input type="checkbox" />
			{!iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
			{label && !iconOnly && label}
			{iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
		</label>
	</form>
)}
{
	type === "link" && (
		<a
			{id}
			{href}
			data-disabled={disabled}
			data-icon-only={iconOnly}
			data-width={fullWidth}
			title={label ? label : titleCase(icon)}
			class:list={[buttonStyles, className]}			
			style={setBackgroundColor(primary)}
		>
			{!iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
			{label && !iconOnly && label}
			{iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
		</a>
	)
}

<style>
	.button {
		--padding-y: var(--space-3);
		--padding-x: calc(var(--padding-y) * 2);
		--padding-icon: calc(var(--padding-y) + var(--space-1));

		font-weight: var(--font-semibold);
		text-wrap: nowrap;

		min-height: 1.25rem;
		border-radius: var(--radius-sm);
		border-color: var(--outline);
		background-color: var(--bg-light);

		padding-block: var(--padding-y);
		padding-inline: var(--padding-x);
		cursor: pointer;

		transition: all 0.1s;

		&:hover {
			background: var(--bg-hover);
		}

		&:active {
			background: var(--bg-active);
		}
	}

	[data-disabled="true"] {
		color: var(--text-muted);
		background: var(--bg-muted);
		border-color: var(--text-muted);
		pointer-events: none;
		cursor: not-allowed;
	}

	[data-icon-only="true"] {
		padding-inline: var(--padding-icon);
		aspect-ratio: 1/1;
	}

	[data-width="true"] {
		width: 100%;
	}

	[data-width="false"] {
		max-width: fit-content;
	}

	label:has(input[type="checkbox"]) {
		input[type="checkbox"] {
			display: none;
		}
	}
</style>
