---
import Icon, { type ICON_NAME } from "@/ui/Icon.astro";
import { titleCase } from "@/scripts/utilities";
import type { HTML } from "@/scripts/constants";

interface Props extends HTML {
	id?: string;
	type?: "submit" | "toggle" | "link";
	label?: string;
	href?: string;
	iconRight?: boolean;
	icon?: ICON_NAME;
	iconOnly?: boolean;
	disabled?: boolean;
	fullWidth?: boolean;
	primary?: boolean;
	small?: boolean;
}

const {
	id,
	type = "link",
	label,
	href,
	icon = "arrow-up-left",
	iconRight = false,
	iconOnly = false,
	disabled,
	fullWidth = false,
	primary,
	small,
	class: className,
} = Astro.props;

const buttonStyles = "button row-xs center";

function setBackgroundColor (isPrimary: boolean | undefined): string {
	if (isPrimary) {
		return (`
			--bg-light: var(--brand-bg);
			--bg-hover: var(--brand-bg-hover);
			--outline: var(--brand-outline);
			--outline-hover: var(--brand-outline-hover);
		`);
	}
	
	return "--button-bg: var(--bg-light);";
}

function setButtonSize (isSmall: boolean | undefined): string {
	if (isSmall) {
		return (`
			--button-radius: var(--radius-pill);
			--padding-y: var(--space-2);
		`);
	}

	return (`
		--button-radius: var(--radius-sm);
	`);
}

function setAspectRatio(hasLabel: string | undefined): string {
	if (hasLabel && hasLabel.length <= 1) {
		return "width: var(--padding-y);"
	}

	return "";
}

function setButtonStyles(): string {
	return (`
		${setBackgroundColor(primary)}
		${setButtonSize(small)}
		${setAspectRatio(label)}
	`);
}
---

{type === "submit" && (
	<button
		{id}
		data-disabled={disabled}
		data-icon-only={iconOnly}
		data-width={fullWidth}
		{type}
		title={label}
		class:list={[buttonStyles, className]}
		style={setButtonStyles()}
	>
		{!iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
		{label && label}
		{iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
	</button>
)}
{type === "toggle" && (
	<button
		{id}
		data-disabled={disabled}
		data-icon-only={iconOnly}
		data-width={fullWidth}
		data-is-checked="false"
		title={label ? label : titleCase(icon)}						
		class:list={[buttonStyles, className]}
		style={setButtonStyles()}
	>
		{!iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
		{label && !iconOnly && label}
		{iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
	</button>
)}
{
	type === "link" && (
		<a
			{id}
			{href}
			data-disabled={disabled}
			data-icon-only={iconOnly}
			data-width={fullWidth}
			title={label ? label : titleCase(icon)}
			class:list={[buttonStyles, className]}			
			style={setButtonStyles()}
		>
			{!iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
			{label && !iconOnly && label}
			{iconRight && icon !== "none" && <Icon name={icon} {disabled} />}
		</a>
	)
}

<style>
	.button {
		--padding-y: var(--space-3);
		--padding-x: calc(var(--padding-y) * 2);
		--padding-icon: calc(var(--padding-y) + var(--space-1));

		font-weight: var(--font-semibold);
		text-wrap: nowrap;

		min-width: 2.5rem;
		padding: var(--padding-y) var(--padding-x);
		border-radius: var(--button-radius);
		border: var(--border);
		border-color: var(--outline);
		background-color: var(--bg-light);

		cursor: pointer;

		transition: all 0.1s;

		&:hover {
			background: var(--bg-hover);
			border-color: var(--outline-hover);
		}

		&:active {
			background: var(--bg-active);
		}
	}

	[data-disabled="true"] {
		color: var(--text-muted);
		background: var(--bg-muted);
		border-color: none;
		pointer-events: none;
		cursor: not-allowed;
	}

	[data-icon-only="true"] {
		padding-inline: var(--padding-icon);
		aspect-ratio: 1/1;
	}

	[data-width="true"] {
		width: 100%;
	}

	[data-width="false"] {
		max-width: fit-content;
	}

	label:has(input[type="checkbox"]) {
		input[type="checkbox"] {
			display: none;
		}
	}
</style>
