---
import { titleCase } from "@/scripts/utilities";

// General Icons
import ArrowLeftIcon from "@/icons/ArrowLeftIcon.astro";
import ArrowRightIcon from "@/icons/ArrowRightIcon.astro";
import DownloadIcon from "@/icons/DownloadIcon.astro";
import DropDownIcon from "@/icons/DropDownIcon.astro";
import ExternalLinkIcon from "@/icons/ExternalLinkIcon.astro";
import ImageIcon from "@/icons/ImageIcon.astro";
import LogoIcon from "@/icons/LogoIcon.astro";
import Ngons from "@/icons/Ngons.astro";
import Quads from "@/icons/Quads.astro";
import SearchIcon from "@/icons/SearchIcon.astro";
import SendIcon from "@/icons/SendIcon.astro";
import Triangles from "@/icons/Triangles.astro";
import UserIcon from "@/icons/UserIcon.astro";
import Vertex from "@/icons/Vertex.astro";

// Social Icons
import GumroadIcon from "@/icons/GumroadIcon.astro";
import YouTubeIcon from "@/icons/YouTubeIcon.astro";
import Sketchfab from "@/icons/SketchfabIcon.astro";
import BlueskyIcon from "@/icons/BlueskyIcon.astro";

// Tool Icons
import Array from "@/icons/Array.astro";
import CurveDeform from "@/icons/CurveDeform.astro";
import FixedCurveRadius from "@/icons/FixedCurveRadius.astro";
import FloatSwitch from "@/icons/FloatSwitch.astro";
import GeometrySwitch from "@/icons/GeometrySwitch.astro";
import IntegerSwitch from "@/icons/IntegerSwitch.astro";
import MoveToUnit from "@/icons/MoveToUnit.astro";
import ObjectSwitch from "@/icons/ObjectSwitch.astro";
import RotationSwitch from "@/icons/RotationSwitch.astro";
import SelectEdgeLoops from "@/icons/SelectEdgeLoops.astro";
import SupportGenerator from "@/icons/SupportGenerator.astro";
import TrackGenerator from "@/icons/TrackGenerator.astro";
import UtilityNodes from "@/icons/UtilityNodes.astro";
import VectorSwitch from "@/icons/VectorSwitch.astro";

export type ICON_NAME = (
	| "none"
	| "arrow-left"
	| "arrow-right"
	| "download"
	| "drop-down"
	| "external-link"
	| "image"
	| "logo"
	| "ngon"
	| "quad"
	| "search"
	| "send"
	| "triangle"
	| "user"
	| "vertex"
	| "array"
	| "curve-deform"
	| "fixed-curve-radius"
	| "float-switch"
	| "geometry-switch"
	| "integer-switch"
	| "move-to-unit"
	| "object-switch"
	| "rotation-switch"
	| "select-edge-loops"
	| "support-generator"
	| "track-generator"
	| "utility-nodes"
	| "vector-switch"
	| "bluesky"
	| "gumroad"
	| "sketchfab"
	| "youtube"
);

interface Props {
	name: ICON_NAME;
	size?: string;
	color?: string;
	disabled?: boolean;
}

export function matchIconNameType(iconName: any): ICON_NAME {
	return iconName;
}

const { name, size = "16", color = "var(--text)", disabled = false } = Astro.props;

function setIconColor(isDisabled: boolean): string {
	if (isDisabled) {
		return "var(--text-muted)";
	}

	return color;
}
---

<svg class="w-fit" width={size} height={size} viewBox="0 0 32 32" fill="none">
	<title>{titleCase(name)}</title>

	{name === "none" && undefined}

	{name === "arrow-left" && <ArrowLeftIcon color={setIconColor(disabled)} />}
	{name === "arrow-right" && <ArrowRightIcon color={setIconColor(disabled)} />}
	{name === "download" && <DownloadIcon color={setIconColor(disabled)} />}
	{name === "drop-down" && <DropDownIcon color={setIconColor(disabled)} />}
	{name === "external-link" && <ExternalLinkIcon color={setIconColor(disabled)} />}
	{name === "image" && <ImageIcon color={setIconColor(disabled)} />}
	{name === "logo" && <LogoIcon color={setIconColor(disabled)} />}
	{name === "ngon" && <Ngons color={setIconColor(disabled)} />}
	{name === "quad" && <Quads color={setIconColor(disabled)} />}
	{name === "search" && <SearchIcon color={setIconColor(disabled)} />}
	{name === "send" && <SendIcon color={setIconColor(disabled)} />}
	{name === "triangle" && <Triangles color={setIconColor(disabled)} />}
	{name === "user" && <UserIcon color={setIconColor(disabled)} />}
	{name === "vertex" && <Vertex color={setIconColor(disabled)} />}

	{name === "bluesky" && <BlueskyIcon color={setIconColor(disabled)} />}
	{name === "gumroad" && <GumroadIcon color={setIconColor(disabled)} />}
	{name === "sketchfab" && <Sketchfab color={setIconColor(disabled)} />}
	{name === "youtube" && <YouTubeIcon color={setIconColor(disabled)} />}

	{name === "array" && <Array color={setIconColor(disabled)} />}
	{name === "curve-deform" && <CurveDeform color={setIconColor(disabled)} />}
	{name === "fixed-curve-radius" && <FixedCurveRadius color={setIconColor(disabled)} />}
	{name === "float-switch" && <FloatSwitch color={setIconColor(disabled)} />}
	{name === "geometry-switch" && <GeometrySwitch color={setIconColor(disabled)} />}
	{name === "integer-switch" && <IntegerSwitch color={setIconColor(disabled)} />}
	{name === "move-to-unit" && <MoveToUnit color={setIconColor(disabled)} />}
	{name === "object-switch" && <ObjectSwitch color={setIconColor(disabled)} />}
	{name === "rotation-switch" && <RotationSwitch color={setIconColor(disabled)} />}
	{name === "select-edge-loops" && <SelectEdgeLoops color={setIconColor(disabled)} />}
	{name === "support-generator" && <SupportGenerator color={setIconColor(disabled)} />}
	{name === "track-generator" && <TrackGenerator color={setIconColor(disabled)} />}
	{name === "utility-nodes" && <UtilityNodes color={setIconColor(disabled)} />}
	{name === "vector-switch" && <VectorSwitch color={setIconColor(disabled)} />}
</svg>
