---
// General Icons
import ArrowLeftIcon from "@/icons/ArrowLeftIcon.astro";
import ArrowRightIcon from "@/icons/ArrowRightIcon.astro";
import DownloadIcon from "@/icons/DownloadIcon.astro";
import DropDownIcon from "../icons/DropDownIcon.astro";
import ExternalLinkIcon from "@/icons/ExternalLinkIcon.astro";
import ImageIcon from "@/icons/ImageIcon.astro";
import LogoIcon from "@/icons/LogoIcon.astro";
import Ngons from "@/icons/Ngons.astro";
import Quads from "@/icons/Quads.astro";
import SearchIcon from "@/icons/SearchIcon.astro";
import SendIcon from "@/icons/SendIcon.astro";
import Triangles from "@/icons/Triangles.astro";
import UserIcon from "@/icons/UserIcon.astro";
import Vertex from "@/icons/Vertex.astro";

// Social Icons
import GumroadIcon from "@/icons/GumroadIcon.astro";
import YouTubeIcon from "@/icons/YouTubeIcon.astro";
import Sketchfab from "@/icons/SketchfabIcon.astro";
import BlueskyIcon from "@/icons/BlueskyIcon.astro";

// Tool Icons
import Array from "@/icons/Array.astro";
import CurveDeform from "@/icons/CurveDeform.astro";
import FixedCurveRadius from "@/icons/FixedCurveRadius.astro";
import FloatSwitch from "@/icons/FloatSwitch.astro";
import GeometrySwitch from "@/icons/GeometrySwitch.astro";
import IntegerSwitch from "@/icons/IntegerSwitch.astro";
import MoveToUnit from "@/icons/MoveToUnit.astro";
import ObjectSwitch from "@/icons/ObjectSwitch.astro";
import RotationSwitch from "@/icons/RotationSwitch.astro";
import SelectEdgeLoops from "@/icons/SelectEdgeLoops.astro";
import SupportGenerator from "@/icons/SupportGenerator.astro";
import TrackGenerator from "@/icons/TrackGenerator.astro";
import UtilityNodes from "@/icons/UtilityNodes.astro";
import VectorSwitch from "@/icons/VectorSwitch.astro";

export type ICON_NAME = (
	| "none"
	| "arrow-left"
	| "arrow-right"
	| "download"
	| "drop-down"
	| "external-link"
	| "image"
	| "logo"
	| "ngon"
	| "quad"
	| "search"
	| "send"
	| "triangle"
	| "user"
	| "vertex"
	| "array"
	| "curve-deform"
	| "fixed-curve-radius"
	| "float-switch"
	| "geometry-switch"
	| "integer-switch"
	| "move-to-unit"
	| "object-switch"
	| "rotation-switch"
	| "select-edge-loops"
	| "support-generator"
	| "track-generator"
	| "utility-nodes"
	| "vector-switch"
	| "bluesky"
	| "gumroad"
	| "sketchfab"
	| "youtube"
);

interface Props {
	name: ICON_NAME;
	size?: string;
	color?: string;
}

export function matchIconNameType(iconName: any): ICON_NAME {
	return iconName;
}

const { name, size = "16", color = "var(--color-black)" } = Astro.props;
---

<svg class="w-fit" width={size} height={size} viewBox="0 0 32 32" fill="none">
	<title>{name}</title>

	{name === "none" && undefined}

	{name === "arrow-left" && <ArrowLeftIcon {color} />}
	{name === "arrow-right" && <ArrowRightIcon {color} />}
	{name === "download" && <DownloadIcon {color} />}
	{name === "drop-down" && <DropDownIcon {color} />}
	{name === "external-link" && <ExternalLinkIcon {color} />}
	{name === "image" && <ImageIcon {color} />}
	{name === "logo" && <LogoIcon {color} />}
	{name === "ngon" && <Ngons {color} />}
	{name === "quad" && <Quads {color} />}
	{name === "search" && <SearchIcon {color} />}
	{name === "send" && <SendIcon {color} />}
	{name === "triangle" && <Triangles {color} />}
	{name === "user" && <UserIcon {color} />}
	{name === "vertex" && <Vertex {color} />}

	{name === "bluesky" && <BlueskyIcon {color} />}
	{name === "gumroad" && <GumroadIcon {color} />}
	{name === "sketchfab" && <Sketchfab {color} />}
	{name === "youtube" && <YouTubeIcon {color} />}

	{name === "array" && <Array {color} />}
	{name === "curve-deform" && <CurveDeform {color} />}
	{name === "fixed-curve-radius" && <FixedCurveRadius {color} />}
	{name === "float-switch" && <FloatSwitch {color} />}
	{name === "geometry-switch" && <GeometrySwitch {color} />}
	{name === "integer-switch" && <IntegerSwitch {color} />}
	{name === "move-to-unit" && <MoveToUnit {color} />}
	{name === "object-switch" && <ObjectSwitch {color} />}
	{name === "rotation-switch" && <RotationSwitch {color} />}
	{name === "select-edge-loops" && <SelectEdgeLoops {color} />}
	{name === "support-generator" && <SupportGenerator {color} />}
	{name === "track-generator" && <TrackGenerator {color} />}
	{name === "utility-nodes" && <UtilityNodes {color} />}
	{name === "vector-switch" && <VectorSwitch {color} />}
</svg>
