---
import type { HTML } from "@/scripts/constants";
import { Image } from "astro:assets";

interface Props extends HTML {
	size?: "sm" | "md" | "lg";
	shape?: "rect" | "round";
	aspect?: "1/1" | "16/9" | "3/1";
	src?: string;
	alt: string;
}

const {
	size = "auto",
	shape = "rect",
	aspect = "16/9",
	src = "",
	alt = "",
	class: className,
} = Astro.props;

function calcRadius(border: string, input: typeof shape): string {
	if (border === "outer" && input === "rect") {
		return "0.75em";
	}

	if (border === "inner" && input === "rect") {
		return "0.375em";
	}

	return "50%";
}

function calcSize(input: typeof size): string | undefined {
	const sizes: Array<{ name: string; size: string }> = [
		{ name: "sm", size: "96px" },
		{ name: "md", size: "320px" },
		{ name: "lg", size: "586px" },
		{ name: "auto", size: "auto" },
	];
	const matchingSize = sizes.find((match) => match.name === input);

	if (matchingSize) {
		return matchingSize.size;
	}

	return input;
}

function calcPath(input: string): string {
	return `url("/images/${input}")`;
}
---

<div
	class:list={[
		"relative flex flex-1 justify-center items-center aspect-(--img-aspect) w-[var(--img-w)] min-w-[var(--img-w)] max-h-[var(--img-w)] bg-white border-2 shadow-lg overflow-clip",
		shape === "round" ? "rounded-full" : "rounded-(--outter-radius)",
		className,
	]}
	style={{
		"--img-path": calcPath(src),
		"--img-w": calcSize(size),
		"--img-aspect": aspect,
		"--outter-radius": calcRadius("outer", shape),
		"--inner-radius": calcRadius("inner", shape),
	}}
>
	<div
		class:list={[
			"absolute flex justify-center items-center rounded-[var(--inner-radius)] bg-black overflow-clip",
			shape === "round" ? "rounded-full" : "rounded-(--inner-radius)",
			size === "sm" ? "inset-1" : "inset-2",
			"max-sm:inset-0",
		]}
	>
		{aspect === "1/1" && <Image src={`/images/${src}`} width="1080" height="1080" {alt} />}
		{aspect === "16/9" && <Image src={`/images/${src}`} width="1920" height="1080" {alt} />}
	</div>
</div>
