---
interface Props {
	label: string;
	name: string;
	id: string;
	type: astroHTML.JSX.HTMLInputTypeAttribute;
	placeholder?: string;
	value?: string;
	required?: boolean;
}

const { label, name, id, type, placeholder, value, required = false } = Astro.props;
---

<label for={id} class="grid gap-1">
	<small>{label}</small>
	<input
		{name}
		{id}
		{type}
		{placeholder}
		{value}
		{required}
		class="bg-white border-lg shadow-lg px-3 py-2"
	/>
</label>
