---
import { slugify } from "@/scripts/utilities";
import Icon from "./Icon.astro";
import type { IconName } from "./Icon.astro";

interface Props {
	label: string;
	iconLeft?: IconName;
	iconRight?: IconName;
	size?: string | undefined;
	isActive?: "page" | "false";
	href?: string;
	underline?: boolean;
}
const {
	label,
	href,
	iconLeft = "none",
	iconRight = "none",
	size,
	isActive = false,
	underline = false,
} = Astro.props;
---

<a
	data-icon-stroke={iconLeft !== "none" || iconRight !== "none"}
	aria-current={isActive}
	data-underline={underline}
	href={href ? href : `/${slugify(label)}`}
	title={label}
	class="flex flex-nowrap items-center gap-2 relative text-[var(--color-text)] max-w-fit"
>
	{iconLeft !== "none" && <Icon name={iconLeft} {size} />}
	<strong class="truncate w-full">{label}</strong>
	{iconRight !== "none" && <Icon name={iconRight} {size} />}
</a>

<style>
	a:hover,
	&:focus-visible {
		color: var(--color-text-dim);
	}

	a[data-underline="true"] {
		text-decoration-line: underline;
	}

	a[aria-current="page"] {
		&:hover,
		&:focus-visible {
			color: inherit;
		}

		&::after {
			position: absolute;
			top: 1.75rem;
			width: 100%;
			height: 0.125rem;

			background-color: var(--color-text);

			pointer-events: none;
			content: "";
		}
	}
</style>
