---
import { slugify } from "@/scripts/utilities";
import Icon, { type ICON_NAME } from "./Icon.astro";
import type { HTML } from "@/scripts/constants";

interface Props extends HTML {
	label: string;
	iconLeft?: ICON_NAME;
	iconRight?: ICON_NAME;
	size?: string | undefined;
	isActive?: "page" | "false";
	href?: string;
	underline?: boolean;
}

const {
	label,
	href,
	iconLeft = "none",
	iconRight = "none",
	size,
	isActive = false,
	underline = false,
	class: className,
} = Astro.props;
---

<a
	data-icon-stroke={iconLeft !== "none" || iconRight !== "none"}
	aria-current={isActive}
	data-underline={underline}
	href={href ? href : `/${slugify(label)}`}
	title={label}
	class:list={[
		"flex flex-nowrap items-center gap-2 relative text-[var(--color-text)] max-w-fit",
		className,
	]}
>
	{iconLeft !== "none" && <Icon name={iconLeft} {size} />}
	<strong class="truncate w-full">{label}</strong>
	{iconRight !== "none" && <Icon name={iconRight} {size} />}
</a>

<style>
	a:hover,
	&:focus-visible {
		opacity: 0.5;
	}

	a[data-underline="true"] {
		text-decoration-line: underline;
	}

	a[aria-current="page"] {
		&:hover,
		&:focus-visible {
			opacity: 1;
		}

		&::after {
			position: absolute;
			top: 1.75rem;
			width: 100%;
			height: 0.125rem;

			background-color: var(--color-text);

			pointer-events: none;
			content: "";
		}
	}
</style>
