---
import { slugify } from "@/scripts/utilities";
import Icon, { type ICON_NAME } from "./Icon.astro";
import type { HTML } from "@/scripts/constants";

interface Props extends HTML {
	label: string;
	iconLeft?: ICON_NAME;
	iconRight?: ICON_NAME;
	size?: string | undefined;
	isActive?: "page" | "false";
	href?: string;
	underline?: boolean;
}

const {
	label,
	href,
	iconLeft = "none",
	iconRight = "none",
	size,
	isActive = false,
	underline = false,
	class: className,
} = Astro.props;
---

<a
	data-icon-stroke={iconLeft !== "none" || iconRight !== "none"}
	aria-current={isActive}
	data-underline={underline}
	href={href ? href : `/${slugify(label)}`}
	title={label}
	class:list={[
		className
	]}
>
	{iconLeft !== "none" && <Icon name={iconLeft} {size} />}
	{label}
	{iconRight !== "none" && <Icon name={iconRight} {size} />}
</a>

<style>
	a {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		gap: var(--space-2);

		max-width: fit-content;
		border-radius: var(--radius-xs);
		color: var(--text);

		&:hover,
		&:focus-visible {
			color: var(--text-muted);
		}

		&[data-underline="true"] {
			text-decoration-line: underline;
		}

		&[aria-current="page"] {
			&:hover,
			&:focus-visible {
				color: var(--text);
			}

			&::after {
				position: absolute;
				top: 1.75rem;
				width: 100%;
				height: 2px;

				border-radius: var(--radius-pill);
				background-color: var(--text);

				pointer-events: none;
				content: "";
			}
		}
	}
</style>
