---
interface Props {
	label: string;
	id?: string;
	placeholder?: string;
	value?: string;
	required?: boolean;
}

const { label, id, placeholder, value, required = false } = Astro.props;
---

<label for={id} class="column-sm">
	<small>{label}{required && "*"}</small>
	<textarea
		name="Message"
		{id}
		{placeholder}
		{value}
		{required}
		class="input"
	></textarea>
</label>
